In [1]:
import pandas as pd
import glob
import numpy as np
import re

In [2]:
df6=pd.read_excel('2020.21_AO.xlsx')
df7=pd.read_excel('2020.21_CDS.xlsx')
df8=pd.read_excel('2020.21_PDS.xlsx')
df9=pd.read_excel('2020.21_RRU.xlsx')

In [3]:

df10=pd.read_excel('2021-X_AO.xlsx')
df11=pd.read_excel('2021-X_ART.xlsx')
df12=pd.read_excel('2021-X_CDS.xlsx')
df13=pd.read_excel('2021-X_PDS.xlsx')
df14=pd.read_excel('2021-X_RRU.xlsx')

In [4]:
df8.sample(4)

,Source.Name,Subject,Start Date,Start Time,End Date,End Time,All Day Event,Description,Location,Private
5040,2020.11_PDS.csv,Lecomte Jean-christophe,2020-11-17,NaN,2020-11-17,NaN,1.0,20:00:00 - 08:00:00,Imadis GARDE,1.0
14260,2020.21_PDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
12571,2020.21_PDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4402,2020.07_PDS.csv,Pourriol Laurent,2020-10-14,NaN,2020-10-14,NaN,1.0,20:00:00 - 08:00:00,Imadis GARDE,1.0

In [5]:
df8.shape

(19431, 10)

In [6]:
df8.isna().sum()

Source.Name          0
Subject           9718
Start Date        9718
Start Time       19431
End Date          9718
End Time         19431
All Day Event     9718
Description       9718
Location          9718
Private           9718
dtype: int64

In [7]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Subject': 'Nom_Prenom',
                          'Start Date': 'Date',
                          'Start Time' : 'Heure_Début',
                          'End Date' : 'Date_Fin',
                          'End Time' : 'Heure_Fin',
                          'All Day Event' : 'Evenement',
                          'Description': 'Horaire',
                          'Location' : 'Type',
                          'Private' : 'Private'}

df6 = df6.rename(columns=correspondance_colonnes)
df7 = df7.rename(columns=correspondance_colonnes)
df8 = df8.rename(columns=correspondance_colonnes)
df9 = df9.rename(columns=correspondance_colonnes)

In [8]:
df6[['Heure_Début', 'Heure_Fin']] = df6['Horaire'].str.split(' - ', expand=True)
df7[['Heure_Début', 'Heure_Fin']] = df7['Horaire'].str.split(' - ', expand=True)
df8[['Heure_Début', 'Heure_Fin']] = df8['Horaire'].str.split(' - ', expand=True)
df9[['Heure_Début', 'Heure_Fin']] = df9['Horaire'].str.split(' - ', expand=True)

In [9]:
df6['Date_Heure_Fin'] = df6['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Fin']
df7['Date_Heure_Fin'] = df7['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Fin']
df8['Date_Heure_Fin'] = df8['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Fin']
df9['Date_Heure_Fin'] = df9['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Fin']

In [10]:
df6['Date_Heure_Début'] = df6['Date'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Début']
df7['Date_Heure_Début'] = df7['Date'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Début']
df8['Date_Heure_Début'] = df8['Date'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Début']
df9['Date_Heure_Début'] = df9['Date'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Début']

In [11]:
df6['Associé'] = np.nan
df7['Associé'] = np.nan
df8['Associé'] = np.nan
df9['Associé'] = np.nan

In [12]:
df6['mail'] = np.nan
df7['mail'] = np.nan
df8['mail'] = np.nan
df9['mail'] = np.nan

In [13]:
df6['Site'] = np.nan
df7['Site'] = np.nan
df8['Site'] = np.nan
df9['Site'] = np.nan

In [14]:
df6 = df6.drop(['Type', 'Private'], axis=1)
df7 = df7.drop(['Type', 'Private'], axis=1)
df8 = df8.drop(['Type', 'Private'], axis=1)
df9 = df9.drop(['Type', 'Private'], axis=1)

In [15]:
df6 = df6.dropna(subset=['Nom_Prenom'])
df7 = df7.dropna(subset=['Nom_Prenom'])
df8 = df8.dropna(subset=['Nom_Prenom'])
df9 = df9.dropna(subset=['Nom_Prenom'])

In [16]:
df6.head()

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site
0,2020.01_AO.csv,Annweiler Thierry,2020-01-06,20:00:00,2020-01-06,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-06 08:00:00,2020-01-06 20:00:00,NaN,NaN,NaN
1,2020.01_AO.csv,Pourriol Laurent,2020-01-07,20:00:00,2020-01-07,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-07 08:00:00,2020-01-07 20:00:00,NaN,NaN,NaN
2,2020.01_AO.csv,Youssof Emile,2020-01-08,20:00:00,2020-01-08,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-08 08:00:00,2020-01-08 20:00:00,NaN,NaN,NaN
3,2020.01_AO.csv,Bouhamama Amine,2020-01-09,20:00:00,2020-01-09,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-09 08:00:00,2020-01-09 20:00:00,NaN,NaN,NaN
4,2020.01_AO.csv,Lecomte Jean-christophe,2020-01-10,20:00:00,2020-01-10,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-10 08:00:00,2020-01-10 20:00:00,NaN,NaN,NaN

In [17]:
df10.head()

,Source.Name,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11
0,2021.07_AO.xlsx,2021-07-14,Associé,RENOSI,Guillaume,g.renosi@imadis.fr,Lyon,Journée,2021-07-14 08:00:00,2021-07-14 18:00:00,Nan,Nan
1,2021.07_AO.xlsx,2021-07-14,Associé,CHAILLOT,Pierre-fleury,pf.chaillot@imadis.fr,Lyon,Nuit,2021-07-14 18:00:00,2021-07-15 08:00:00,Nan,Nan
2,2021.07_AO.xlsx,2021-07-16,Associé,JOURNE,Charles,c.journe@imadis.fr,Lyon,Nuit,2021-07-16 18:00:00,2021-07-16 22:00:00,Nan,Nan
3,2021.07_AO.xlsx,2021-07-16,Associé,CHAILLOT,Pierre-fleury,pf.chaillot@imadis.fr,Bordeaux,Nuit,2021-07-16 22:00:00,2021-07-17 08:00:00,Nan,Nan
4,2021.07_AO.xlsx,2021-07-17,Associé,PETITPIERRE,Francois,f.petitpierre@imadis.fr,Bordeaux,Journée,2021-07-17 08:00:00,2021-07-17 18:00:00,Nan,Nan

In [18]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Column1': 'Date',
                          'Column2': 'Associé',
                          'Column3' : 'Nom',
                          'Column4' : 'Prénom',
                          'Column5' : 'mail',
                          'Column6' : 'Site',
                          'Column7': 'Jour/Nuit',
                          'Column8' : 'Date_Heure_Début',
                          'Column9' : 'Date_Heure_Fin',
                          'Column10' : 'Chef',
                          'Column11' : 'Formation'}

df10 = df10.rename(columns=correspondance_colonnes)
df11 = df11.rename(columns=correspondance_colonnes)
df12 = df12.rename(columns=correspondance_colonnes)
df13 = df13.rename(columns=correspondance_colonnes)
df14 = df14.rename(columns=correspondance_colonnes)

In [19]:
df10['Nom_Prenom'] = df10['Nom']+' '+df10['Prénom']
df11['Nom_Prenom'] = df11['Nom']+' '+df11['Prénom']
df12['Nom_Prenom'] = df12['Nom']+' '+df12['Prénom']
df13['Nom_Prenom'] = df13['Nom']+' '+df13['Prénom']
df14['Nom_Prenom'] = df14['Nom']+' '+df14['Prénom']

In [20]:
df10 = df10.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df11 = df11.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df12 = df12.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df13 = df13.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df14 = df14.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)

In [21]:
df11['Date_Heure_Début'] = pd.to_datetime(df11['Date_Heure_Début'], format="%d/%m/%Y %H:%M:%S")

In [22]:
df10['Heure_Début'] = df10['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df12['Heure_Début'] = df12['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df13['Heure_Début'] = df13['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df14['Heure_Début'] = df14['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [23]:
df11['Heure_Début'] = df11['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [24]:
df10['Heure_Fin'] = df10['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df12['Heure_Fin'] = df12['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df13['Heure_Fin'] = df13['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df14['Heure_Fin'] = df14['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [25]:
df11['Heure_Fin'] = df11['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [26]:
df10['Horaire'] = df10['Heure_Début']+' - '+df10['Heure_Fin']
df11['Horaire'] = df11['Heure_Début']+' - '+df11['Heure_Fin']
df12['Horaire'] = df12['Heure_Début']+' - '+df12['Heure_Fin']
df13['Horaire'] = df13['Heure_Début']+' - '+df13['Heure_Fin']
df14['Horaire'] = df14['Heure_Début']+' - '+df14['Heure_Fin']

In [27]:
df10 = df10.dropna(subset=['Nom_Prenom'])
df11 = df11.dropna(subset=['Nom_Prenom'])
df12 = df12.dropna(subset=['Nom_Prenom'])
df13 = df13.dropna(subset=['Nom_Prenom'])
df14 = df14.dropna(subset=['Nom_Prenom'])

In [28]:
df10.head()

,Source,Date,Associé,mail,Site,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
0,2021.07_AO.xlsx,2021-07-14,Associé,g.renosi@imadis.fr,Lyon,2021-07-14 08:00:00,2021-07-14 18:00:00,Nan,Nan,RENOSI Guillaume,08:00:00,18:00:00,08:00:00 - 18:00:00
1,2021.07_AO.xlsx,2021-07-14,Associé,pf.chaillot@imadis.fr,Lyon,2021-07-14 18:00:00,2021-07-15 08:00:00,Nan,Nan,CHAILLOT Pierre-fleury,18:00:00,08:00:00,18:00:00 - 08:00:00
2,2021.07_AO.xlsx,2021-07-16,Associé,c.journe@imadis.fr,Lyon,2021-07-16 18:00:00,2021-07-16 22:00:00,Nan,Nan,JOURNE Charles,18:00:00,22:00:00,18:00:00 - 22:00:00
3,2021.07_AO.xlsx,2021-07-16,Associé,pf.chaillot@imadis.fr,Bordeaux,2021-07-16 22:00:00,2021-07-17 08:00:00,Nan,Nan,CHAILLOT Pierre-fleury,22:00:00,08:00:00,22:00:00 - 08:00:00
4,2021.07_AO.xlsx,2021-07-17,Associé,f.petitpierre@imadis.fr,Bordeaux,2021-07-17 08:00:00,2021-07-17 18:00:00,Nan,Nan,PETITPIERRE Francois,08:00:00,18:00:00,08:00:00 - 18:00:00

In [29]:
dfs = [df6, df7, df8, df9, df10, df11, df12, df13, df14]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.sample(10)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site,Chef,Formation
36803,2023.01_PDS.xlsx,MASTIER Charles,2023-02-16,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2023-02-17 08:00:00,2023-02-16 20:00:00,Associé,c.mastier@imadis.fr,Lyon,NaN,NaN
12583,2020.01_RRU.csv,Nivet Hubert,2020-04-17,12:00:00,2020-04-17,13:00:00,1.0,12:00:00 - 13:00:00,2020-04-17 13:00:00,2020-04-17 12:00:00,NaN,NaN,NaN,NaN,NaN
9208,2021.01_PDS.csv,Fadli David,2021-02-08,18:00:00,2021-02-08,20:00:00,1.0,18:00:00 - 20:00:00,2021-02-08 20:00:00,2021-02-08 18:00:00,NaN,NaN,NaN,NaN,NaN
14916,2022.07_ART.xlsx,VIDAUD Aurore,2022-10-15,08:00:00,NaT,13:00:00,NaN,08:00:00 - 13:00:00,2022-10-15 13:00:00,2022-10-15 08:00:00,Interne,a.vidaud@imadis.fr,Bordeaux,Nan,Nan
24687,2021.11_PDS.xlsx,BEAUFRETON Edouard,2021-12-10,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2021-12-11 08:00:00,2021-12-10 20:00:00,Interne,e.beaufreton@imadis.fr,Rennes,NaN,NaN
23112,2021.07_PDS.xlsx,JURKOVIC Thomas,2021-10-07,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2021-10-08 08:00:00,2021-10-07 20:00:00,Associé,t.jurkovic@imadis.fr,Lyon,Chef de site,NaN
34074,2022.11_PDS.xlsx,JOURNE Charles,2022-11-19,07:00:00,NaT,12:00:00,NaN,07:00:00 - 12:00:00,2022-11-19 12:00:00,2022-11-19 07:00:00,Associé,c.journe@imadis.fr,Lyon,NaN,NaN
39619,2023.05_PDS.xlsx,ASFARI Stéphane,2023-05-20,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2023-05-21 08:00:00,2023-05-20 20:00:00,Associé,s.asfari@imadis.fr,Lyon,NaN,NaN
16132,2021.07_CDS.xlsx,CHAZOT Alban,2021-09-30,13:00:00,NaT,18:00:00,NaN,13:00:00 - 18:00:00,2021-09-30 18:00:00,2021-09-30 13:00:00,Associé,a.chazot@imadis.fr,Lyon,NaN,NaN
22512,2021.07_PDS.xlsx,L'HUILLIER Romain,2021-09-12,10:00:00,NaT,19:00:00,NaN,10:00:00 - 19:00:00,2021-09-12 19:00:00,2021-09-12 10:00:00,Interne,r.lhuillier@imadis.fr,Lyon,NaN,NaN

In [30]:
concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date'])
concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [31]:
def extract_value(source):
    result = re.search(r'_(.*?)\.', source)
    if result:
        return result.group(1)
    else:
        return ""

concatenated_df['Source'] = concatenated_df['Source'].apply(extract_value)

In [32]:
concatenated_df.sample(5)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site,Chef,Formation
35775,PDS,DOS SANTOS Thomas,14/01/2023,20:00:00,NaT,01:00:00,NaN,20:00:00 - 01:00:00,2023-01-15 01:00:00,2023-01-14 20:00:00,Interne,t.dos-santos@imadis.fr,Marseille,NaN,F3
22608,PDS,CAYOT Bénédicte,16/09/2021,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2021-09-17 08:00:00,2021-09-16 20:00:00,Thèsé,b.cayot@imadis.fr,Lyon,NaN,NaN
6009,PDS,Ziegler Arthur,19/08/2020,18:00:00,2020-08-19,20:00:00,1.0,18:00:00 - 20:00:00,2020-08-19 20:00:00,2020-08-19 18:00:00,NaN,NaN,NaN,NaN,NaN
39851,PDS,DUCATEL Arnaud,28/05/2023,18:00:00,NaT,08:00:00,NaN,18:00:00 - 08:00:00,2023-05-29 08:00:00,2023-05-28 18:00:00,Interne,a.ducatel@imadis.fr,Bordeaux,NaN,NaN
39666,PDS,BERTHOLON Sylvain,22/05/2023,18:00:00,NaT,20:00:00,NaN,18:00:00 - 20:00:00,2023-05-22 20:00:00,2023-05-22 18:00:00,Interne,s.bertholon@imadis.fr,St etienne,NaN,NaN

In [33]:
concatenated_df=concatenated_df.drop(['Date_Fin','Evenement'], axis=1)

In [34]:
concatenated_df.to_csv('Concat_df.csv', index=False)