In [1]:
import pandas as pd
import glob
import numpy as np
import re

In [2]:
df6=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2020.21_AO.xlsx')
df7=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2020.21_CDS.xlsx')
df8=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2020.21_PDS.xlsx')
df9=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2020.21_RRU.xlsx')

In [3]:

df10=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_AO.xlsx')
df11=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_ART.xlsx')
df12=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_CDS.xlsx')
df13=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_PDS.xlsx')
df14=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_RRU.xlsx')

In [4]:
df6.sample(4)

,Source.Name,Subject,Start Date,Start Time,End Date,End Time,All Day Event,Description,Location,Private
1392,2021.05_AO.csv,Pourriol Laurent,2021-05-25,NaN,2021-05-25,NaN,1.0,20:00:00 - 08:00:00,Imadis ASTREINTE OP.,1.0
1182,2020.21_AO.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1200,2020.21_AO.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
135,2020.01_AO.csv,Petitpierre Francois,2020-04-19,NaN,2020-04-19,NaN,1.0,20:00:00 - 08:00:00,Imadis ASTREINTE OP.,1.0

In [5]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Subject': 'Nom_Prenom',
                          'Start Date': 'Date',
                          'Start Time' : 'Heure_Début',
                          'End Date' : 'Date_Fin',
                          'End Time' : 'Heure_Fin',
                          'All Day Event' : 'Evenement',
                          'Description': 'Horaire',
                          'Location' : 'Type',
                          'Private' : 'Private'}

df6 = df6.rename(columns=correspondance_colonnes)
df7 = df7.rename(columns=correspondance_colonnes)
df8 = df8.rename(columns=correspondance_colonnes)
df9 = df9.rename(columns=correspondance_colonnes)

In [6]:
df6[['Heure_Début', 'Heure_Fin']] = df6['Horaire'].str.split(' - ', expand=True)
df7[['Heure_Début', 'Heure_Fin']] = df7['Horaire'].str.split(' - ', expand=True)
df8[['Heure_Début', 'Heure_Fin']] = df8['Horaire'].str.split(' - ', expand=True)
df9[['Heure_Début', 'Heure_Fin']] = df9['Horaire'].str.split(' - ', expand=True)

In [7]:
df8.sample(4)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Type,Private
8363,2020.21_PDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
8040,2020.21_PDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
5549,2020.11_PDS.csv,Perrier Louis,2020-12-17,18:00:00,2020-12-17,20:00:00,1.0,18:00:00 - 20:00:00,Imadis GARDE,1.0
14422,2020.21_PDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [8]:
df6['Date_Heure_Début'] = df6['Date'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Début']
df7['Date_Heure_Début'] = df7['Date'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Début']
df8['Date_Heure_Début'] = df8['Date'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Début']
df9['Date_Heure_Début'] = df9['Date'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Début']

In [9]:
df6['Date_Heure_Début'] = pd.to_datetime(df6['Date_Heure_Début'], format="%Y/%m/%d %H:%M:%S")
df6['Heure_Début'] = pd.to_datetime(df6['Heure_Début'])
df6['Heure_Début'] = df6['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df6['Heure_Fin'] = pd.to_datetime(df6['Heure_Fin'])
df6['Heure_Fin'] = df6['Heure_Fin'].dt.strftime('%H:%M:%S')

# Créer une nouvelle colonne "Date_Heure_Fin" en utilisant les informations des colonnes existantes
df6['Date_Fin'] = df6.apply(lambda row: row['Date_Heure_Début'].date() if row['Heure_Début'] <= row['Heure_Fin']
                                else (row['Date_Heure_Début'] + pd.DateOffset(days=1)).date(), axis=1)

In [10]:
df7['Date_Heure_Début'] = pd.to_datetime(df7['Date_Heure_Début'], format="%Y/%m/%d %H:%M:%S")
df7['Heure_Début'] = pd.to_datetime(df7['Heure_Début'])
df7['Heure_Début'] = df7['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df7['Heure_Fin'] = pd.to_datetime(df7['Heure_Fin'])
df7['Heure_Fin'] = df7['Heure_Fin'].dt.strftime('%H:%M:%S')

# Créer une nouvelle colonne "Date_Heure_Fin" en utilisant les informations des colonnes existantes
df7['Date_Fin'] = df7.apply(lambda row: row['Date_Heure_Début'].date() if row['Heure_Début'] <= row['Heure_Fin']
                                else (row['Date_Heure_Début'] + pd.DateOffset(days=1)).date(), axis=1)

In [11]:
df8['Date_Heure_Début'] = pd.to_datetime(df8['Date_Heure_Début'], format="%Y/%m/%d %H:%M:%S")
df8['Heure_Début'] = pd.to_datetime(df8['Heure_Début'])
df8['Heure_Début'] = df8['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df8['Heure_Fin'] = pd.to_datetime(df8['Heure_Fin'])
df8['Heure_Fin'] = df8['Heure_Fin'].dt.strftime('%H:%M:%S')

# Créer une nouvelle colonne "Date_Heure_Fin" en utilisant les informations des colonnes existantes
df8['Date_Fin'] = df8.apply(lambda row: row['Date_Heure_Début'].date() if row['Heure_Début'] <= row['Heure_Fin']
                                else (row['Date_Heure_Début'] + pd.DateOffset(days=1)).date(), axis=1)

In [12]:
df9['Date_Heure_Début'] = pd.to_datetime(df9['Date_Heure_Début'], format="%Y/%m/%d %H:%M:%S")
df9['Heure_Début'] = pd.to_datetime(df9['Heure_Début'])
df9['Heure_Début'] = df9['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df9['Heure_Fin'] = pd.to_datetime(df9['Heure_Fin'])
df9['Heure_Fin'] = df9['Heure_Fin'].dt.strftime('%H:%M:%S')

# Créer une nouvelle colonne "Date_Heure_Fin" en utilisant les informations des colonnes existantes
df9['Date_Fin'] = df9.apply(lambda row: row['Date_Heure_Début'].date() if row['Heure_Début'] <= row['Heure_Fin']
                                else (row['Date_Heure_Début'] + pd.DateOffset(days=1)).date(), axis=1)

In [13]:
df6['Date_Fin'] = pd.to_datetime(df6['Date_Fin'])
df7['Date_Fin'] = pd.to_datetime(df7['Date_Fin'])
df8['Date_Fin'] = pd.to_datetime(df8['Date_Fin'])
df9['Date_Fin'] = pd.to_datetime(df9['Date_Fin'])

In [14]:
df6['Date_Heure_Fin'] = df6['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Fin']
df7['Date_Heure_Fin'] = df7['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Fin']
df8['Date_Heure_Fin'] = df8['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Fin']
df9['Date_Heure_Fin'] = df9['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Fin']

In [15]:
df6['Associé'] = np.nan
df7['Associé'] = np.nan
df8['Associé'] = np.nan
df9['Associé'] = np.nan

In [16]:
df6['mail'] = np.nan
df7['mail'] = np.nan
df8['mail'] = np.nan
df9['mail'] = np.nan

In [17]:
df6['Site'] = np.nan
df7['Site'] = np.nan
df8['Site'] = np.nan
df9['Site'] = np.nan

In [18]:
df6['Jour/Nuit'] = np.nan
df7['Jour/Nuit'] = np.nan
df8['Jour/Nuit'] = np.nan
df9['Jour/Nuit'] = np.nan

In [19]:
df6 = df6.drop(['Type', 'Private'], axis=1)
df7 = df7.drop(['Type', 'Private'], axis=1)
df8 = df8.drop(['Type', 'Private'], axis=1)
df9 = df9.drop(['Type', 'Private'], axis=1)

In [20]:
df6 = df6.dropna(subset=['Nom_Prenom'])
df7 = df7.dropna(subset=['Nom_Prenom'])
df8 = df8.dropna(subset=['Nom_Prenom'])
df9 = df9.dropna(subset=['Nom_Prenom'])

In [21]:
df6.head()

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit
0,2020.01_AO.csv,Annweiler Thierry,2020-01-06,20:00:00,2020-01-07,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-06 20:00:00,2020-01-07 08:00:00,NaN,NaN,NaN,NaN
1,2020.01_AO.csv,Pourriol Laurent,2020-01-07,20:00:00,2020-01-08,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-07 20:00:00,2020-01-08 08:00:00,NaN,NaN,NaN,NaN
2,2020.01_AO.csv,Youssof Emile,2020-01-08,20:00:00,2020-01-09,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-08 20:00:00,2020-01-09 08:00:00,NaN,NaN,NaN,NaN
3,2020.01_AO.csv,Bouhamama Amine,2020-01-09,20:00:00,2020-01-10,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-09 20:00:00,2020-01-10 08:00:00,NaN,NaN,NaN,NaN
4,2020.01_AO.csv,Lecomte Jean-christophe,2020-01-10,20:00:00,2020-01-11,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-10 20:00:00,2020-01-11 08:00:00,NaN,NaN,NaN,NaN

In [22]:
df13.tail()

,Source.Name,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11
20075,2023.05_PDS.xlsx,2023-07-09,Interne,DRAI,Maxime,m.drai@imadis.fr,Marseille,Nuit,2023-07-09 20:00:00,2023-07-10 08:00:00,NaN,NaN
20076,2023.05_PDS.xlsx,2023-07-09,Interne,PLANCHE,Antoine,a.planche@imadis.fr,Marseille,Nuit,2023-07-09 20:00:00,2023-07-10 08:00:00,NaN,NaN
20077,2023.05_PDS.xlsx,2023-07-09,Interne,BERNARD,Gontran,g.bernard@imadis.fr,Rennes,Nuit,2023-07-09 20:00:00,2023-07-10 08:00:00,NaN,NaN
20078,2023.05_PDS.xlsx,2023-07-09,Interne,LODE,Baptiste,b.lode@imadis.fr,Rennes,Nuit,2023-07-09 20:00:00,2023-07-10 08:00:00,NaN,NaN
20079,2023.05_PDS.xlsx,2023-07-09,Thèsé,COHEN,David,d.cohen@imadis.fr,Lyon,Nuit,2023-07-09 21:00:00,2023-07-10 08:00:00,NaN,NaN

In [23]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Column1': 'Date',
                          'Column2': 'Associé',
                          'Column3' : 'Nom',
                          'Column4' : 'Prénom',
                          'Column5' : 'mail',
                          'Column6' : 'Site',
                          'Column7': 'Jour/Nuit',
                          'Column8' : 'Date_Heure_Début',
                          'Column9' : 'Date_Heure_Fin',
                          'Column10' : 'Chef',
                          'Column11' : 'Formation'}

df10 = df10.rename(columns=correspondance_colonnes)
df11 = df11.rename(columns=correspondance_colonnes)
df12 = df12.rename(columns=correspondance_colonnes)
df13 = df13.rename(columns=correspondance_colonnes)
df14 = df14.rename(columns=correspondance_colonnes)

In [24]:
df10['Nom_Prenom'] = df10['Nom']+' '+df10['Prénom']
df11['Nom_Prenom'] = df11['Nom']+' '+df11['Prénom']
df12['Nom_Prenom'] = df12['Nom']+' '+df12['Prénom']
df13['Nom_Prenom'] = df13['Nom']+' '+df13['Prénom']
df14['Nom_Prenom'] = df14['Nom']+' '+df14['Prénom']

In [25]:
df10 = df10.drop(['Nom', 'Prénom'], axis=1)
df11 = df11.drop(['Nom', 'Prénom'], axis=1)
df12 = df12.drop(['Nom', 'Prénom'], axis=1)
df13 = df13.drop(['Nom', 'Prénom'], axis=1)
df14 = df14.drop(['Nom', 'Prénom'], axis=1)

In [26]:
df11['Date_Heure_Début'] = pd.to_datetime(df11['Date_Heure_Début'], format="%d/%m/%Y %H:%M:%S")

In [27]:
df10['Heure_Début'] = df10['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df12['Heure_Début'] = df12['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df13['Heure_Début'] = df13['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df14['Heure_Début'] = df14['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [28]:
df11['Heure_Début'] = df11['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [29]:
df10['Heure_Fin'] = df10['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df12['Heure_Fin'] = df12['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df13['Heure_Fin'] = df13['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df14['Heure_Fin'] = df14['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [30]:
df11['Heure_Fin'] = df11['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [31]:
df10['Horaire'] = df10['Heure_Début']+' - '+df10['Heure_Fin']
df11['Horaire'] = df11['Heure_Début']+' - '+df11['Heure_Fin']
df12['Horaire'] = df12['Heure_Début']+' - '+df12['Heure_Fin']
df13['Horaire'] = df13['Heure_Début']+' - '+df13['Heure_Fin']
df14['Horaire'] = df14['Heure_Début']+' - '+df14['Heure_Fin']

In [32]:
df10 = df10.dropna(subset=['Nom_Prenom'])
df11 = df11.dropna(subset=['Nom_Prenom'])
df12 = df12.dropna(subset=['Nom_Prenom'])
df13 = df13.dropna(subset=['Nom_Prenom'])
df14 = df14.dropna(subset=['Nom_Prenom'])

In [33]:
df10.tail()

,Source,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
463,2023.05_AO.xlsx,2023-07-02,NaN,NaN,NaN,Journée,2023-07-02 10:00:00,2023-07-02 20:00:00,Nan,Nan,A POURVOIR A pourvoir,10:00:00,20:00:00,10:00:00 - 20:00:00
464,2023.05_AO.xlsx,2023-07-07,NaN,NaN,NaN,Nuit,2023-07-07 18:00:00,2023-07-08 08:00:00,Nan,Nan,A POURVOIR A pourvoir,18:00:00,08:00:00,18:00:00 - 08:00:00
465,2023.05_AO.xlsx,2023-07-08,NaN,NaN,NaN,Journée,2023-07-08 08:00:00,2023-07-08 18:00:00,Nan,Nan,A POURVOIR A pourvoir,08:00:00,18:00:00,08:00:00 - 18:00:00
466,2023.05_AO.xlsx,2023-07-08,Associé,b.delorme@imadis.fr,St etienne,Nuit,2023-07-08 18:00:00,2023-07-09 08:00:00,Nan,Nan,DELORME Bérengère,18:00:00,08:00:00,18:00:00 - 08:00:00
467,2023.05_AO.xlsx,2023-07-09,Associé,c.erhart@imadis.fr,Rennes,Journée,2023-07-09 10:00:00,2023-07-09 20:00:00,Nan,Nan,ERHART Charlélie,10:00:00,20:00:00,10:00:00 - 20:00:00

In [34]:
dfs = [df6, df7, df8, df9, df10, df11, df12, df13, df14]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.sample(10)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation
37008,2023.01_PDS.xlsx,GLENAT Manfred,2023-02-23,20:00:00,NaT,02:00:00,NaN,20:00:00 - 02:00:00,2023-02-23 20:00:00,2023-02-24 02:00:00,Associé,m.glenat@imadis.fr,Lyon,Nuit,NaN,NaN
30513,2022.07_PDS.xlsx,SIAUVE Valentin,2022-07-17,08:00:00,NaT,19:00:00,NaN,08:00:00 - 19:00:00,2022-07-17 08:00:00,2022-07-17 19:00:00,Interne,v.siauve@imadis.fr,Dijon,Journée,Chef de site,NaN
36895,2023.01_PDS.xlsx,GRENIER Mathilde,2023-02-19,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2023-02-19 20:00:00,2023-02-20 08:00:00,Interne,m.grenier@imadis.fr,Lyon,Nuit,NaN,NaN
36369,2023.01_PDS.xlsx,FILIP Andreea,2023-02-03,18:00:00,NaT,20:00:00,NaN,18:00:00 - 20:00:00,2023-02-03 18:00:00,2023-02-03 20:00:00,Thèsé,andreea.filip071286@gmail.com,Lyon,Journée,NaN,NaN
37709,2023.01_PDS.xlsx,GUYARD Thibaut,2023-03-18,08:00:00,NaT,18:00:00,NaN,08:00:00 - 18:00:00,2023-03-18 08:00:00,2023-03-18 18:00:00,Thèsé,t.guyard@imadis.fr,Brest,Journée,Chef de site,NaN
11157,2021.05_PDS.csv,De misouard Thibaut,2021-05-17,18:00:00,2021-05-17,20:00:00,1.0,18:00:00 - 20:00:00,2021-05-17 18:00:00,2021-05-17 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
37682,2023.01_PDS.xlsx,MESSALTI Inès,2023-03-17,18:00:00,NaT,20:00:00,NaN,18:00:00 - 20:00:00,2023-03-17 18:00:00,2023-03-17 20:00:00,Interne,i.messalti@imadis.fr,Lyon,Journée,NaN,NaN
43536,2023.01_RRU.xlsx,COEUR Jules,2023-02-22,13:00:00,NaT,15:00:00,NaN,13:00:00 - 15:00:00,2023-02-22 13:00:00,2023-02-22 15:00:00,Associé,j.coeur@imadis.fr,Lyon,Nuit,NaN,Nan
27793,2022.01_PDS.xlsx,BANASTE Nathan,2022-04-09,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2022-04-09 20:00:00,2022-04-10 08:00:00,Associé,n.banaste@imadis.fr,Lyon,Nuit,Chef de garde,NaN
476,2020.11_AO.csv,Girouin Nicolas,2021-01-03,20:00:00,2021-01-04,08:00:00,1.0,20:00:00 - 08:00:00,2021-01-03 20:00:00,2021-01-04 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date'])
concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [36]:
def extract_value(source):
    result = re.search(r'_(.*?)\.', source)
    if result:
        return result.group(1)
    else:
        return ""

concatenated_df['Source'] = concatenated_df['Source'].apply(extract_value)

In [37]:
concatenated_df=concatenated_df.drop(['Date_Fin','Evenement'], axis=1)

In [44]:
concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date'])

df_filtered = concatenated_df.loc[concatenated_df['Date'] <= '2023-05-08']

In [45]:
df_filtered['Date'] = df_filtered['Date'].dt.strftime("%d/%m/%Y")

C:\Users\d.mandon\AppData\Local\Temp\ipykernel_15732\447546523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Date'] = df_filtered['Date'].dt.strftime("%d/%m/%Y")

In [46]:
df_filtered.tail(3)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation
44446,RRU,MILLE Laurène,07/05/2023,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-07-05 13:00:00,2023-07-05 15:00:00,Associé,l.mille@imadis.fr,Lyon,Nuit,NaN,Nan
44447,RRU,DELACHE Ondine,07/05/2023,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-07-05 13:00:00,2023-07-05 15:00:00,Associé,o.delache@imadis.fr,Rennes,Nuit,NaN,Nan
44448,RRU,CHEVALIER Clément,07/05/2023,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-07-05 13:00:00,2023-07-05 15:00:00,Associé,c.chevalier@imadis.fr,St etienne,Nuit,NaN,Nan

In [41]:
df_filtered.to_csv('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/Concat_df.csv', index=False)