In [1]:
import pandas as pd
import glob
import numpy as np
import re

In [7]:
df6=pd.read_excel('2020.21_AO.xlsx')
df7=pd.read_excel('2020.21_CDS.xlsx')
df8=pd.read_excel('2020.21_PDS.xlsx')
df9=pd.read_excel('2020.21_RRU.xlsx')

In [8]:

df10=pd.read_excel('2021-X_AO.xlsx')
df11=pd.read_excel('2021-X_ART.xlsx')
df12=pd.read_excel('2021-X_CDS.xlsx')
df13=pd.read_excel('2021-X_PDS.xlsx')
df14=pd.read_excel('2021-X_RRU.xlsx')

In [9]:
df7.sample()

,Source.Name,Subject,Start Date,Start Time,End Date,End Time,All Day Event,Description,Location,Private
1022,2020.11_CDS.csv,Stephant Eric,2020-11-23,NaN,2020-11-23,NaN,1.0,13:00:00 - 18:00:00,Imadis CDS,1.0

In [10]:
df6.shape

(1462, 10)

In [11]:
df7.isna().sum()

Source.Name         0
Subject          1928
Start Date       1928
Start Time       3856
End Date         1928
End Time         3856
All Day Event    1928
Description      1928
Location         1928
Private          1928
dtype: int64

In [12]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Subject': 'Nom_Prenom',
                          'Start Date': 'Date',
                          'Start Time' : 'Heure_Début',
                          'End Date' : 'Date_Fin',
                          'End Time' : 'Heure_Fin',
                          'All Day Event' : 'Evenement',
                          'Description': 'Horaire',
                          'Location' : 'Type',
                          'Private' : 'Private'}

df6 = df6.rename(columns=correspondance_colonnes)
df7 = df7.rename(columns=correspondance_colonnes)
df8 = df8.rename(columns=correspondance_colonnes)
df9 = df9.rename(columns=correspondance_colonnes)

In [13]:
df6[['Heure_Début', 'Heure_Fin']] = df6['Horaire'].str.split(' - ', expand=True)
df7[['Heure_Début', 'Heure_Fin']] = df7['Horaire'].str.split(' - ', expand=True)
df8[['Heure_Début', 'Heure_Fin']] = df8['Horaire'].str.split(' - ', expand=True)
df9[['Heure_Début', 'Heure_Fin']] = df9['Horaire'].str.split(' - ', expand=True)

In [14]:
df6['Date_Heure_Fin'] = df6['Date'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Fin']
df7['Date_Heure_Fin'] = df7['Date'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Fin']
df8['Date_Heure_Fin'] = df8['Date'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Fin']
df9['Date_Heure_Fin'] = df9['Date'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Fin']

In [15]:
df6['Date_Heure_Début'] = df6['Date'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Début']
df7['Date_Heure_Début'] = df7['Date'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Début']
df8['Date_Heure_Début'] = df8['Date'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Début']
df9['Date_Heure_Début'] = df9['Date'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Début']

In [16]:
df6['Associé'] = np.nan
df7['Associé'] = np.nan
df8['Associé'] = np.nan
df9['Associé'] = np.nan

In [17]:
df6['mail'] = np.nan
df7['mail'] = np.nan
df8['mail'] = np.nan
df9['mail'] = np.nan

In [18]:
df6['Site'] = np.nan
df7['Site'] = np.nan
df8['Site'] = np.nan
df9['Site'] = np.nan

In [19]:
df6 = df6.drop(['Type', 'Private'], axis=1)
df7 = df7.drop(['Type', 'Private'], axis=1)
df8 = df8.drop(['Type', 'Private'], axis=1)
df9 = df9.drop(['Type', 'Private'], axis=1)

In [20]:
df6 = df6.dropna(subset=['Nom_Prenom'])
df7 = df7.dropna(subset=['Nom_Prenom'])
df8 = df8.dropna(subset=['Nom_Prenom'])
df9 = df9.dropna(subset=['Nom_Prenom'])

In [21]:
df6.head()

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site
0,2020.01_AO.csv,Annweiler Thierry,2020-01-06,20:00:00,2020-01-06,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-06 08:00:00,2020-01-06 20:00:00,NaN,NaN,NaN
1,2020.01_AO.csv,Pourriol Laurent,2020-01-07,20:00:00,2020-01-07,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-07 08:00:00,2020-01-07 20:00:00,NaN,NaN,NaN
2,2020.01_AO.csv,Youssof Emile,2020-01-08,20:00:00,2020-01-08,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-08 08:00:00,2020-01-08 20:00:00,NaN,NaN,NaN
3,2020.01_AO.csv,Bouhamama Amine,2020-01-09,20:00:00,2020-01-09,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-09 08:00:00,2020-01-09 20:00:00,NaN,NaN,NaN
4,2020.01_AO.csv,Lecomte Jean-christophe,2020-01-10,20:00:00,2020-01-10,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-10 08:00:00,2020-01-10 20:00:00,NaN,NaN,NaN

In [22]:
df10.head()

,Source.Name,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11
0,2021.07_AO.xlsx,2021-07-14,Associé,RENOSI,Guillaume,g.renosi@imadis.fr,Lyon,Journée,2021-07-14 08:00:00,2021-07-14 18:00:00,Nan,Nan
1,2021.07_AO.xlsx,2021-07-14,Associé,CHAILLOT,Pierre-fleury,pf.chaillot@imadis.fr,Lyon,Nuit,2021-07-14 18:00:00,2021-07-15 08:00:00,Nan,Nan
2,2021.07_AO.xlsx,2021-07-16,Associé,JOURNE,Charles,c.journe@imadis.fr,Lyon,Nuit,2021-07-16 18:00:00,2021-07-16 22:00:00,Nan,Nan
3,2021.07_AO.xlsx,2021-07-16,Associé,CHAILLOT,Pierre-fleury,pf.chaillot@imadis.fr,Bordeaux,Nuit,2021-07-16 22:00:00,2021-07-17 08:00:00,Nan,Nan
4,2021.07_AO.xlsx,2021-07-17,Associé,PETITPIERRE,Francois,f.petitpierre@imadis.fr,Bordeaux,Journée,2021-07-17 08:00:00,2021-07-17 18:00:00,Nan,Nan

In [23]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Column1': 'Date',
                          'Column2': 'Associé',
                          'Column3' : 'Nom',
                          'Column4' : 'Prénom',
                          'Column5' : 'mail',
                          'Column6' : 'Site',
                          'Column7': 'Jour/Nuit',
                          'Column8' : 'Date_Heure_Début',
                          'Column9' : 'Date_Heure_Fin',
                          'Column10' : 'Chef',
                          'Column11' : 'Formation'}

df10 = df10.rename(columns=correspondance_colonnes)
df11 = df11.rename(columns=correspondance_colonnes)
df12 = df12.rename(columns=correspondance_colonnes)
df13 = df13.rename(columns=correspondance_colonnes)
df14 = df14.rename(columns=correspondance_colonnes)

In [24]:
df10['Nom_Prenom'] = df10['Nom']+' '+df10['Prénom']
df11['Nom_Prenom'] = df11['Nom']+' '+df11['Prénom']
df12['Nom_Prenom'] = df12['Nom']+' '+df12['Prénom']
df13['Nom_Prenom'] = df13['Nom']+' '+df13['Prénom']
df14['Nom_Prenom'] = df14['Nom']+' '+df14['Prénom']

In [25]:
df10 = df10.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df11 = df11.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df12 = df12.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df13 = df13.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df14 = df14.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)

In [26]:
df11['Date_Heure_Début'] = pd.to_datetime(df11['Date_Heure_Début'], format="%d/%m/%Y %H:%M:%S")

In [27]:
df10['Heure_Début'] = df10['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df12['Heure_Début'] = df12['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df13['Heure_Début'] = df13['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df14['Heure_Début'] = df14['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [28]:
df11['Heure_Début'] = df11['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [29]:
df10['Heure_Fin'] = df10['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df12['Heure_Fin'] = df12['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df13['Heure_Fin'] = df13['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df14['Heure_Fin'] = df14['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [30]:
df11['Heure_Fin'] = df11['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [31]:
df10['Horaire'] = df10['Heure_Début']+' - '+df10['Heure_Fin']
df11['Horaire'] = df11['Heure_Début']+' - '+df11['Heure_Fin']
df12['Horaire'] = df12['Heure_Début']+' - '+df12['Heure_Fin']
df13['Horaire'] = df13['Heure_Début']+' - '+df13['Heure_Fin']
df14['Horaire'] = df14['Heure_Début']+' - '+df14['Heure_Fin']

In [32]:
df10 = df10.dropna(subset=['Nom_Prenom'])
df11 = df11.dropna(subset=['Nom_Prenom'])
df12 = df12.dropna(subset=['Nom_Prenom'])
df13 = df13.dropna(subset=['Nom_Prenom'])
df14 = df14.dropna(subset=['Nom_Prenom'])

In [33]:
df10.head()

,Source,Date,Associé,mail,Site,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
0,2021.07_AO.xlsx,2021-07-14,Associé,g.renosi@imadis.fr,Lyon,2021-07-14 08:00:00,2021-07-14 18:00:00,Nan,Nan,RENOSI Guillaume,08:00:00,18:00:00,08:00:00 - 18:00:00
1,2021.07_AO.xlsx,2021-07-14,Associé,pf.chaillot@imadis.fr,Lyon,2021-07-14 18:00:00,2021-07-15 08:00:00,Nan,Nan,CHAILLOT Pierre-fleury,18:00:00,08:00:00,18:00:00 - 08:00:00
2,2021.07_AO.xlsx,2021-07-16,Associé,c.journe@imadis.fr,Lyon,2021-07-16 18:00:00,2021-07-16 22:00:00,Nan,Nan,JOURNE Charles,18:00:00,22:00:00,18:00:00 - 22:00:00
3,2021.07_AO.xlsx,2021-07-16,Associé,pf.chaillot@imadis.fr,Bordeaux,2021-07-16 22:00:00,2021-07-17 08:00:00,Nan,Nan,CHAILLOT Pierre-fleury,22:00:00,08:00:00,22:00:00 - 08:00:00
4,2021.07_AO.xlsx,2021-07-17,Associé,f.petitpierre@imadis.fr,Bordeaux,2021-07-17 08:00:00,2021-07-17 18:00:00,Nan,Nan,PETITPIERRE Francois,08:00:00,18:00:00,08:00:00 - 18:00:00

In [34]:
dfs = [df6, df7, df8, df9, df10, df11, df12, df13, df14]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.sample(10)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site,Chef,Formation
36268,2023.01_PDS.xlsx,GIROUIN Nicolas,2023-01-30,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2023-01-31 08:00:00,2023-01-30 20:00:00,Associé,n.girouin@imadis.fr,Lyon,Chef de garde,NaN
31040,2022.07_PDS.xlsx,SORE Rémi,2022-08-04,20:00:00,NaT,02:00:00,NaN,20:00:00 - 02:00:00,2022-08-05 02:00:00,2022-08-04 20:00:00,Interne,r.sore@imadis.fr,Lyon,NaN,NaN
3614,2020.01_PDS.csv,Jardin Sabine,2020-03-14,20:00:00,2020-03-14,08:00:00,1.0,20:00:00 - 08:00:00,2020-03-14 08:00:00,2020-03-14 20:00:00,NaN,NaN,NaN,NaN,NaN
29077,2022.05_PDS.xlsx,MENEYROL Eric,2022-05-27,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2022-05-28 08:00:00,2022-05-27 20:00:00,Interne,e.meneyrol@imadis.fr,Rennes,NaN,NaN
11708,2021.05_PDS.csv,Perrey Antoine,2021-06-11,20:00:00,2021-06-11,08:00:00,1.0,20:00:00 - 08:00:00,2021-06-11 08:00:00,2021-06-11 20:00:00,NaN,NaN,NaN,NaN,NaN
24556,2021.11_PDS.xlsx,QUEMENEUR Morgane,2021-12-05,10:00:00,NaT,20:00:00,NaN,10:00:00 - 20:00:00,2021-12-05 20:00:00,2021-12-05 10:00:00,Thèsé,m.quemeneur@imadis.fr,Marseille,NaN,NaN
17977,2022.07_CDS.xlsx,ADNANE Samy,2022-08-08,08:00:00,NaT,13:00:00,NaN,08:00:00 - 13:00:00,2022-08-08 13:00:00,2022-08-08 08:00:00,Interne,s.adnane@imadis.fr,Lyon,NaN,NaN
10910,2021.05_PDS.csv,Dubreuil Thibaut,2021-05-06,18:00:00,2021-05-06,20:00:00,1.0,18:00:00 - 20:00:00,2021-05-06 20:00:00,2021-05-06 18:00:00,NaN,NaN,NaN,NaN,NaN
43505,2023.01_RRU.xlsx,PEYRE Rémi,2023-02-17,11:00:00,NaT,13:00:00,NaN,11:00:00 - 13:00:00,2023-02-17 13:00:00,2023-02-17 11:00:00,Associé,r.peyre@imadis.fr,Marseille,NaN,Nan
35641,2023.01_PDS.xlsx,THIERY Louis,2023-01-10,19:00:00,NaT,20:00:00,NaN,19:00:00 - 20:00:00,2023-01-10 20:00:00,2023-01-10 19:00:00,Interne,l.thiery@imadis.fr,Marseille,NaN,NaN

In [35]:
concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date'])
concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [36]:
def extract_value(source):
    result = re.search(r'_(.*?)\.', source)
    if result:
        return result.group(1)
    else:
        return ""

concatenated_df['Source'] = concatenated_df['Source'].apply(extract_value)

In [43]:
concatenated_df.sample(5)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site,Chef,Formation
10122,PDS,Basset Thomas,27/03/2021,18:00:00,08:00:00,18:00:00 - 08:00:00,2021-03-27 08:00:00,2021-03-27 18:00:00,NaN,NaN,NaN,NaN,NaN
42779,RRU,MILLON Domitille,11/10/2022,13:00:00,15:00:00,13:00:00 - 15:00:00,2022-10-11 15:00:00,2022-10-11 13:00:00,Associé,d.millon@imadis.fr,Lyon,NaN,Nan
16878,CDS,CHAPAS Gilles,16/02/2022,12:00:00,18:00:00,12:00:00 - 18:00:00,2022-02-16 18:00:00,2022-02-16 12:00:00,Associé,g.chapas@imadis.fr,St etienne,NaN,NaN
17551,CDS,JURKOVIC Thomas,13/06/2022,08:00:00,13:00:00,08:00:00 - 13:00:00,2022-06-13 13:00:00,2022-06-13 08:00:00,Associé,t.jurkovic@imadis.fr,Lyon,NaN,NaN
19476,CDS,PAVIE Dylan,30/01/2023,13:00:00,18:00:00,13:00:00 - 18:00:00,2023-01-30 18:00:00,2023-01-30 13:00:00,Interne,d.pavie@imadis.fr,Lyon,NaN,NaN

In [41]:
concatenated_df=concatenated_df.drop(['Date_Fin','Evenement'], axis=1)

In [42]:
concatenated_df.to_csv('Concat_df.csv', index=False)