In [27]:
import pandas as pd
import glob
import numpy as np

In [2]:
download_folder = 'C:/Users/d.mandon/Downloads/'
excel_files = glob.glob(download_folder + 'export*.xlsx')

In [3]:
excel_files[:5]

['C:/Users/d.mandon/Downloads\\export (1).xlsx',
 'C:/Users/d.mandon/Downloads\\export (2).xlsx',
 'C:/Users/d.mandon/Downloads\\export (3).xlsx',
 'C:/Users/d.mandon/Downloads\\export (4).xlsx',
 'C:/Users/d.mandon/Downloads\\export (5).xlsx']

In [28]:
df1=pd.read_excel(excel_files[0], header=None)
df2=pd.read_excel(excel_files[1], header=None)
df3=pd.read_excel(excel_files[2], header=None)
df4=pd.read_excel(excel_files[3], header=None)
df5=pd.read_excel(excel_files[4], header=None)

In [30]:
df1

,0,1,2,3,4,5,6,7,8,9,10
0,09/05/2023,Interne,SIAUVE,Valentin,v.siauve@imadis.fr,Dijon,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,NaN,NaN
1,NaN,Associé,DEHBI,Sabrina,s.dehbi@imadis.fr,Lyon,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,Chef de site,NaN
2,NaN,Interne,LETTY,Quentin,q.letty@imadis.fr,Lyon,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,NaN,NaN
3,NaN,Associé,LAURENDON,Thomas,t.laurendon@imadis.fr,Marseille,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,NaN,NaN
4,NaN,Associé,PERREY,Antoine,a.perrey@imadis.fr,Marseille,Nuit,09/05/2023 18:00:00,09/05/2023 20:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1830,NaN,Interne,DRAI,Maxime,m.drai@imadis.fr,Marseille,Nuit,09/07/2023 20:00:00,10/07/2023 08:00:00,NaN,NaN
1831,NaN,Interne,PLANCHE,Antoine,a.planche@imadis.fr,Marseille,Nuit,09/07/2023 20:00:00,10/07/2023 08:00:00,NaN,NaN
1832,NaN,Interne,BERNARD,Gontran,g.bernard@imadis.fr,Rennes,Nuit,09/07/2023 20:00:00,10/07/2023 08:00:00,NaN,NaN
1833,NaN,Interne,LODE,Baptiste,b.lode@imadis.fr,Rennes,Nuit,09/07/2023 20:00:00,10/07/2023 08:00:00,NaN,NaN
1834,NaN,Thèsé,COHEN,David,d.cohen@imadis.fr,Lyon,Nuit,09/07/2023 21:00:00,10/07/2023 08:00:00,NaN,NaN

In [31]:
df6=pd.read_excel('2020.21_AO.xlsx')
df7=pd.read_excel('2020.21_CDS.xlsx')
df8=pd.read_excel('2020.21_PDS.xlsx')
df9=pd.read_excel('2020.21_RRU.xlsx')

In [32]:

df10=pd.read_excel('2021-X_AO.xlsx')
df11=pd.read_excel('2021-X_ART.xlsx')
df12=pd.read_excel('2021-X_CDS.xlsx')
df13=pd.read_excel('2021-X_PDS.xlsx')
df14=pd.read_excel('2021-X_RRU.xlsx')

In [47]:
df6.head()

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Associé,mail,Site
0,2020.01_AO.csv,Annweiler Thierry,2020-01-06,20:00:00,2020-01-06,08:00:00,1.0,20:00:00 - 08:00:00,NaN,NaN,NaN,NaN
1,2020.01_AO.csv,Pourriol Laurent,2020-01-07,20:00:00,2020-01-07,08:00:00,1.0,20:00:00 - 08:00:00,NaN,NaN,NaN,NaN
2,2020.01_AO.csv,Youssof Emile,2020-01-08,20:00:00,2020-01-08,08:00:00,1.0,20:00:00 - 08:00:00,NaN,NaN,NaN,NaN
3,2020.01_AO.csv,Bouhamama Amine,2020-01-09,20:00:00,2020-01-09,08:00:00,1.0,20:00:00 - 08:00:00,NaN,NaN,NaN,NaN
4,2020.01_AO.csv,Lecomte Jean-christophe,2020-01-10,20:00:00,2020-01-10,08:00:00,1.0,20:00:00 - 08:00:00,NaN,NaN,NaN,NaN

In [46]:
df6.shape

(1462, 12)

In [44]:
df6.isna().sum()

Source               0
Nom_Prenom         731
Date               731
Heure_Début        731
Date_Fin           731
Heure_Fin          731
Evenement          731
Horaire            731
Date_Heure_Fin    1462
Associé           1462
mail              1462
Site              1462
dtype: int64

In [37]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Subject': 'Nom_Prenom',
                          'Start Date': 'Date',
                          'Start Time' : 'Heure_Début',
                          'End Date' : 'Date_Fin',
                          'End Time' : 'Heure_Fin',
                          'All Day Event' : 'Evenement',
                          'Description': 'Horaire',
                          'Location' : 'Type',
                          'Private' : 'Private'}

df6 = df6.rename(columns=correspondance_colonnes)
df7 = df7.rename(columns=correspondance_colonnes)
df8 = df8.rename(columns=correspondance_colonnes)
df9 = df9.rename(columns=correspondance_colonnes)

In [38]:
df6['Date_Heure_Fin'] = df6['Date'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Fin']
df7['Date_Heure_Fin'] = df7['Date'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Fin']
df8['Date_Heure_Fin'] = df8['Date'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Fin']
df9['Date_Heure_Fin'] = df9['Date'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Fin']

In [10]:
df6['Date_Heure_Début'] = df6['Date'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Début']
df7['Date_Heure_Début'] = df7['Date'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Début']
df8['Date_Heure_Début'] = df8['Date'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Début']
df9['Date_Heure_Début'] = df9['Date'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Début']

In [39]:
df6['Associé'] = np.nan
df7['Associé'] = np.nan
df8['Associé'] = np.nan
df9['Associé'] = np.nan

In [40]:
df6['mail'] = np.nan
df7['mail'] = np.nan
df8['mail'] = np.nan
df9['mail'] = np.nan

In [41]:
df6['Site'] = np.nan
df7['Site'] = np.nan
df8['Site'] = np.nan
df9['Site'] = np.nan

In [42]:
df6[['Heure_Début', 'Heure_Fin']] = df6['Horaire'].str.split(' - ', expand=True)
df7[['Heure_Début', 'Heure_Fin']] = df7['Horaire'].str.split(' - ', expand=True)
df8[['Heure_Début', 'Heure_Fin']] = df8['Horaire'].str.split(' - ', expand=True)
df9[['Heure_Début', 'Heure_Fin']] = df9['Horaire'].str.split(' - ', expand=True)

In [43]:
df6 = df6.drop(['Type', 'Private'], axis=1)
df7 = df7.drop(['Type', 'Private'], axis=1)
df8 = df8.drop(['Type', 'Private'], axis=1)
df9 = df9.drop(['Type', 'Private'], axis=1)

In [16]:
df10.head()

,Source.Name,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11
0,2021.07_AO.xlsx,2021-07-14,Associé,RENOSI,Guillaume,g.renosi@imadis.fr,Lyon,Journée,2021-07-14 08:00:00,2021-07-14 18:00:00,Nan,Nan
1,2021.07_AO.xlsx,2021-07-14,Associé,CHAILLOT,Pierre-fleury,pf.chaillot@imadis.fr,Lyon,Nuit,2021-07-14 18:00:00,2021-07-15 08:00:00,Nan,Nan
2,2021.07_AO.xlsx,2021-07-16,Associé,JOURNE,Charles,c.journe@imadis.fr,Lyon,Nuit,2021-07-16 18:00:00,2021-07-16 22:00:00,Nan,Nan
3,2021.07_AO.xlsx,2021-07-16,Associé,CHAILLOT,Pierre-fleury,pf.chaillot@imadis.fr,Bordeaux,Nuit,2021-07-16 22:00:00,2021-07-17 08:00:00,Nan,Nan
4,2021.07_AO.xlsx,2021-07-17,Associé,PETITPIERRE,Francois,f.petitpierre@imadis.fr,Bordeaux,Journée,2021-07-17 08:00:00,2021-07-17 18:00:00,Nan,Nan

In [17]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Column1': 'Date',
                          'Column2': 'Associé',
                          'Column3' : 'Nom',
                          'Column4' : 'Prénom',
                          'Column5' : 'mail',
                          'Column6' : 'Site',
                          'Column7': 'Jour/Nuit',
                          'Column8' : 'Date_Heure_Début',
                          'Column9' : 'Date_Heure_Fin',
                          'Column10' : 'Chef',
                          'Column11' : 'Formation'}

df10 = df10.rename(columns=correspondance_colonnes)
df11 = df11.rename(columns=correspondance_colonnes)
df12 = df12.rename(columns=correspondance_colonnes)
df13 = df13.rename(columns=correspondance_colonnes)
df14 = df14.rename(columns=correspondance_colonnes)

In [18]:
df10['Nom_Prenom'] = df10['Nom']+' '+df10['Prénom']
df11['Nom_Prenom'] = df11['Nom']+' '+df11['Prénom']
df12['Nom_Prenom'] = df12['Nom']+' '+df12['Prénom']
df13['Nom_Prenom'] = df13['Nom']+' '+df13['Prénom']
df14['Nom_Prenom'] = df14['Nom']+' '+df14['Prénom']

In [19]:
df10 = df10.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df11 = df11.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df12 = df12.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df13 = df13.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)
df14 = df14.drop(['Jour/Nuit', 'Nom', 'Prénom'], axis=1)

In [20]:
df11['Date_Heure_Début'] = pd.to_datetime(df11['Date_Heure_Début'])
df11['Date_Heure_Fin'] = pd.to_datetime(df11['Date_Heure_Fin'])

In [21]:
df10['Heure_Début'] = df10['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df11['Heure_Début'] = df11['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df12['Heure_Début'] = df12['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df13['Heure_Début'] = df13['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df14['Heure_Début'] = df14['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [22]:
df10['Heure_Fin'] = df10['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df11['Heure_Fin'] = df11['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df12['Heure_Fin'] = df12['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df13['Heure_Fin'] = df13['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df14['Heure_Fin'] = df14['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [23]:
dfs = [df6, df7, df8, df9, df10, df11, df12, df13, df14]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.sample(10)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site,Chef,Formation
39541,2022.01_PDS.xlsx,HERMANT Julien,2022-01-18,14:00:00,NaT,16:00:00,NaN,NaN,2022-01-18 16:00:00,2022-01-18 14:00:00,Associé,j.hermant@imadis.fr,Lyon,NaN,F4
16499,2020.21_PDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
14390,2020.21_PDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
8550,2020.07_PDS.csv,Jardin Sabine,2020-08-12,20:00:00,2020-08-12,08:00:00,1.0,20:00:00 - 08:00:00,NaT,NaT,NaN,NaN,NaN,NaN,NaN
33457,2023.01_CDS.xlsx,CHAZOT Alban,2023-02-16,13:00:00,NaT,18:00:00,NaN,NaN,2023-02-16 18:00:00,2023-02-16 13:00:00,Associé,a.chazot@imadis.fr,Lyon,Chef de CDS,NaN
3975,2020.21_CDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
19052,2020.21_PDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
51380,2023.01_PDS.xlsx,GOETZ Arnaud,2023-03-12,08:00:00,NaT,20:00:00,NaN,NaN,2023-03-12 20:00:00,2023-03-12 08:00:00,Interne,a.goetz@imadis.fr,Clermont-ferrand,NaN,NaN
33304,2023.01_CDS.xlsx,NIVET Hubert,2023-02-01,08:00:00,NaT,14:30:00,NaN,NaN,2023-02-01 14:30:00,2023-02-01 08:00:00,Associé,h.nivet@imadis.fr,Bordeaux,Chef de CDS,NaN
53757,2023.05_PDS.xlsx,SIAUVE Valentin,2023-05-30,18:00:00,NaT,20:00:00,NaN,NaN,2023-05-30 20:00:00,2023-05-30 18:00:00,Interne,v.siauve@imadis.fr,Dijon,NaN,NaN

In [24]:
# Spécifiez le chemin d'enregistrement du fichier CSV
#chemin_fichier = '/chemin/vers/votre/fichier.csv'

# Enregistrez le DataFrame au format CSV
#df.to_csv(chemin_fichier, index=False)