In [1]:
import pandas as pd
import glob
import numpy as np
import re

In [2]:
df6=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2020.21_AO.xlsx')
df7=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2020.21_CDS.xlsx')
df8=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2020.21_PDS.xlsx')
df9=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2020.21_RRU.xlsx')

In [3]:

df10=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_AO.xlsx')
df11=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_ART.xlsx')
df12=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_CDS.xlsx')
df13=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_PDS.xlsx')
df14=pd.read_excel('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/2021-X_RRU.xlsx')

In [4]:
df6.sample(4)

,Source.Name,Subject,Start Date,Start Time,End Date,End Time,All Day Event,Description,Location,Private
835,2020.21_AO.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
218,2020.05_AO.csv,Chaillot Pierre-fleury,2020-06-20,NaN,2020-06-20,NaN,1.0,20:00:00 - 08:00:00,Imadis ASTREINTE OP.,1.0
963,2020.21_AO.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1118,2020.21_AO.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [5]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Subject': 'Nom_Prenom',
                          'Start Date': 'Date',
                          'Start Time' : 'Heure_Début',
                          'End Date' : 'Date_Fin',
                          'End Time' : 'Heure_Fin',
                          'All Day Event' : 'Evenement',
                          'Description': 'Horaire',
                          'Location' : 'Type',
                          'Private' : 'Private'}

df6 = df6.rename(columns=correspondance_colonnes)
df7 = df7.rename(columns=correspondance_colonnes)
df8 = df8.rename(columns=correspondance_colonnes)
df9 = df9.rename(columns=correspondance_colonnes)

In [6]:
df6[['Heure_Début', 'Heure_Fin']] = df6['Horaire'].str.split(' - ', expand=True)
df7[['Heure_Début', 'Heure_Fin']] = df7['Horaire'].str.split(' - ', expand=True)
df8[['Heure_Début', 'Heure_Fin']] = df8['Horaire'].str.split(' - ', expand=True)
df9[['Heure_Début', 'Heure_Fin']] = df9['Horaire'].str.split(' - ', expand=True)

In [7]:
df8.head(4)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Type,Private
0,2020.01_PDS.csv,Beji Hedi,2020-01-06,18:00:00,2020-01-06,19:00:00,1.0,18:00:00 - 19:00:00,Imadis GARDE,1.0
1,2020.01_PDS.csv,Arion Simona,2020-01-06,18:00:00,2020-01-06,20:00:00,1.0,18:00:00 - 20:00:00,Imadis GARDE,1.0
2,2020.01_PDS.csv,L'huillier Romain,2020-01-06,18:00:00,2020-01-06,20:00:00,1.0,18:00:00 - 20:00:00,Imadis GARDE,1.0
3,2020.01_PDS.csv,Mille Laurène,2020-01-06,18:00:00,2020-01-06,20:00:00,1.0,18:00:00 - 20:00:00,Imadis GARDE,1.0

In [8]:
df6['Date_Heure_Début'] = df6['Date'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Début']
df7['Date_Heure_Début'] = df7['Date'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Début']
df8['Date_Heure_Début'] = df8['Date'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Début']
df9['Date_Heure_Début'] = df9['Date'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Début']

In [9]:
df6['Date_Heure_Début'] = pd.to_datetime(df6['Date_Heure_Début'], format="%Y/%m/%d %H:%M:%S")
df6['Heure_Début'] = pd.to_datetime(df6['Heure_Début'])
df6['Heure_Début'] = df6['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df6['Heure_Fin'] = pd.to_datetime(df6['Heure_Fin'])
df6['Heure_Fin'] = df6['Heure_Fin'].dt.strftime('%H:%M:%S')

# Créer une nouvelle colonne "Date_Heure_Fin" en utilisant les informations des colonnes existantes
df6['Date_Fin'] = df6.apply(lambda row: row['Date_Heure_Début'].date() if row['Heure_Début'] <= row['Heure_Fin']
                                else (row['Date_Heure_Début'] + pd.DateOffset(days=1)).date(), axis=1)

In [10]:
df7['Date_Heure_Début'] = pd.to_datetime(df7['Date_Heure_Début'], format="%Y/%m/%d %H:%M:%S")
df7['Heure_Début'] = pd.to_datetime(df7['Heure_Début'])
df7['Heure_Début'] = df7['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df7['Heure_Fin'] = pd.to_datetime(df7['Heure_Fin'])
df7['Heure_Fin'] = df7['Heure_Fin'].dt.strftime('%H:%M:%S')

# Créer une nouvelle colonne "Date_Heure_Fin" en utilisant les informations des colonnes existantes
df7['Date_Fin'] = df7.apply(lambda row: row['Date_Heure_Début'].date() if row['Heure_Début'] <= row['Heure_Fin']
                                else (row['Date_Heure_Début'] + pd.DateOffset(days=1)).date(), axis=1)

In [11]:
df8['Date_Heure_Début'] = pd.to_datetime(df8['Date_Heure_Début'], format="%Y/%m/%d %H:%M:%S")
df8['Heure_Début'] = pd.to_datetime(df8['Heure_Début'])
df8['Heure_Début'] = df8['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df8['Heure_Fin'] = pd.to_datetime(df8['Heure_Fin'])
df8['Heure_Fin'] = df8['Heure_Fin'].dt.strftime('%H:%M:%S')

# Créer une nouvelle colonne "Date_Heure_Fin" en utilisant les informations des colonnes existantes
df8['Date_Fin'] = df8.apply(lambda row: row['Date_Heure_Début'].date() if row['Heure_Début'] <= row['Heure_Fin']
                                else (row['Date_Heure_Début'] + pd.DateOffset(days=1)).date(), axis=1)

In [12]:
df9['Date_Heure_Début'] = pd.to_datetime(df9['Date_Heure_Début'], format="%Y/%m/%d %H:%M:%S")
df9['Heure_Début'] = pd.to_datetime(df9['Heure_Début'])
df9['Heure_Début'] = df9['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df9['Heure_Fin'] = pd.to_datetime(df9['Heure_Fin'])
df9['Heure_Fin'] = df9['Heure_Fin'].dt.strftime('%H:%M:%S')

# Créer une nouvelle colonne "Date_Heure_Fin" en utilisant les informations des colonnes existantes
df9['Date_Fin'] = df9.apply(lambda row: row['Date_Heure_Début'].date() if row['Heure_Début'] <= row['Heure_Fin']
                                else (row['Date_Heure_Début'] + pd.DateOffset(days=1)).date(), axis=1)

In [13]:
df6['Date_Fin'] = pd.to_datetime(df6['Date_Fin'])
df7['Date_Fin'] = pd.to_datetime(df7['Date_Fin'])
df8['Date_Fin'] = pd.to_datetime(df8['Date_Fin'])
df9['Date_Fin'] = pd.to_datetime(df9['Date_Fin'])

In [14]:
df6['Date_Heure_Fin'] = df6['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Fin']
df7['Date_Heure_Fin'] = df7['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Fin']
df8['Date_Heure_Fin'] = df8['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Fin']
df9['Date_Heure_Fin'] = df9['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Fin']

In [15]:
df6['Associé'] = np.nan
df7['Associé'] = np.nan
df8['Associé'] = np.nan
df9['Associé'] = np.nan

In [16]:
df6['mail'] = np.nan
df7['mail'] = np.nan
df8['mail'] = np.nan
df9['mail'] = np.nan

In [17]:
df6['Site'] = np.nan
df7['Site'] = np.nan
df8['Site'] = np.nan
df9['Site'] = np.nan

In [18]:
df6['Jour/Nuit'] = np.nan
df7['Jour/Nuit'] = np.nan
df8['Jour/Nuit'] = np.nan
df9['Jour/Nuit'] = np.nan

In [19]:
df6 = df6.drop(['Type', 'Private'], axis=1)
df7 = df7.drop(['Type', 'Private'], axis=1)
df8 = df8.drop(['Type', 'Private'], axis=1)
df9 = df9.drop(['Type', 'Private'], axis=1)

In [20]:
df6 = df6.dropna(subset=['Nom_Prenom'])
df7 = df7.dropna(subset=['Nom_Prenom'])
df8 = df8.dropna(subset=['Nom_Prenom'])
df9 = df9.dropna(subset=['Nom_Prenom'])

In [21]:
df6.tail()

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit
1457,2021.05_AO.csv,Youssof Emile,2021-07-11,08:00:00,2021-07-11,12:00:00,1.0,08:00:00 - 12:00:00,2021-07-11 08:00:00,2021-07-11 12:00:00,NaN,NaN,NaN,NaN
1458,2021.05_AO.csv,Montvuagnard Thibaut,2021-07-11,08:00:00,2021-07-11,20:00:00,1.0,08:00:00 - 20:00:00,2021-07-11 08:00:00,2021-07-11 20:00:00,NaN,NaN,NaN,NaN
1459,2021.05_AO.csv,Youssof Emile,2021-07-11,12:00:00,2021-07-11,18:00:00,1.0,12:00:00 - 18:00:00,2021-07-11 12:00:00,2021-07-11 18:00:00,NaN,NaN,NaN,NaN
1460,2021.05_AO.csv,Bratan Flavie,2021-07-11,18:00:00,2021-07-12,08:00:00,1.0,18:00:00 - 08:00:00,2021-07-11 18:00:00,2021-07-12 08:00:00,NaN,NaN,NaN,NaN
1461,2021.05_AO.csv,Nivet Hubert,2021-07-11,20:00:00,2021-07-12,08:00:00,1.0,20:00:00 - 08:00:00,2021-07-11 20:00:00,2021-07-12 08:00:00,NaN,NaN,NaN,NaN

In [22]:
df11.tail()

,Source.Name,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11
1639,2023.05_ART.xlsx,2023-07-08,Interne,RUFFION,Lucas,l.ruffion@imadis.fr,Lyon,Journée,08/07/2023 13:00:00,2023-07-08 19:00:00,Nan,Nan
1640,2023.05_ART.xlsx,2023-07-08,Interne,PERALDI,Lucas,l.peraldi@imadis.fr,Lyon,Nuit,08/07/2023 19:00:00,2023-07-09 02:00:00,Nan,Nan
1641,2023.05_ART.xlsx,2023-07-09,Interne,PASCHE,Daphné,d.pasche@imadis.fr,Bordeaux,Journée,09/07/2023 08:00:00,2023-07-09 13:00:00,Nan,Nan
1642,2023.05_ART.xlsx,2023-07-09,Interne,RAZIMBAUD,Anaëlle,a.razimbaud@imadis.fr,Lyon,Journée,09/07/2023 13:00:00,2023-07-09 19:00:00,Nan,Nan
1643,2023.05_ART.xlsx,2023-07-09,Interne,NOAILLY,Valentin,v.noailly@imadis.fr,Lyon,Nuit,09/07/2023 19:00:00,2023-07-10 01:00:00,Nan,Nan

In [23]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Column1': 'Date',
                          'Column2': 'Associé',
                          'Column3' : 'Nom',
                          'Column4' : 'Prénom',
                          'Column5' : 'mail',
                          'Column6' : 'Site',
                          'Column7': 'Jour/Nuit',
                          'Column8' : 'Date_Heure_Début',
                          'Column9' : 'Date_Heure_Fin',
                          'Column10' : 'Chef',
                          'Column11' : 'Formation'}

df10 = df10.rename(columns=correspondance_colonnes)
df11 = df11.rename(columns=correspondance_colonnes)
df12 = df12.rename(columns=correspondance_colonnes)
df13 = df13.rename(columns=correspondance_colonnes)
df14 = df14.rename(columns=correspondance_colonnes)

In [24]:
df10['Nom_Prenom'] = df10['Nom']+' '+df10['Prénom']
df11['Nom_Prenom'] = df11['Nom']+' '+df11['Prénom']
df12['Nom_Prenom'] = df12['Nom']+' '+df12['Prénom']
df13['Nom_Prenom'] = df13['Nom']+' '+df13['Prénom']
df14['Nom_Prenom'] = df14['Nom']+' '+df14['Prénom']

In [25]:
df10 = df10.drop(['Nom', 'Prénom'], axis=1)
df11 = df11.drop(['Nom', 'Prénom'], axis=1)
df12 = df12.drop(['Nom', 'Prénom'], axis=1)
df13 = df13.drop(['Nom', 'Prénom'], axis=1)
df14 = df14.drop(['Nom', 'Prénom'], axis=1)

In [26]:
df11['Date_Heure_Début'] = pd.to_datetime(df11['Date_Heure_Début'], format="%d/%m/%Y %H:%M:%S")

In [27]:
df10['Heure_Début'] = df10['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df12['Heure_Début'] = df12['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df13['Heure_Début'] = df13['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df14['Heure_Début'] = df14['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df11['Heure_Début'] = df11['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [28]:
df10['Heure_Fin'] = df10['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df12['Heure_Fin'] = df12['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df13['Heure_Fin'] = df13['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df14['Heure_Fin'] = df14['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df11['Heure_Fin'] = df11['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [29]:
df10['Horaire'] = df10['Heure_Début']+' - '+df10['Heure_Fin']
df11['Horaire'] = df11['Heure_Début']+' - '+df11['Heure_Fin']
df12['Horaire'] = df12['Heure_Début']+' - '+df12['Heure_Fin']
df13['Horaire'] = df13['Heure_Début']+' - '+df13['Heure_Fin']
df14['Horaire'] = df14['Heure_Début']+' - '+df14['Heure_Fin']

In [30]:
df10 = df10.dropna(subset=['Nom_Prenom'])
df11 = df11.dropna(subset=['Nom_Prenom'])
df12 = df12.dropna(subset=['Nom_Prenom'])
df13 = df13.dropna(subset=['Nom_Prenom'])
df14 = df14.dropna(subset=['Nom_Prenom'])

In [31]:
df12.tail()

,Source,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
5483,2023.05_CDS.xlsx,2023-07-07,Associé,pf.chaillot@imadis.fr,Lyon,Journée,2023-07-07 13:30:00,2023-07-07 18:00:00,Chef de CDS,NaN,CHAILLOT Pierre-fleury,13:30:00,18:00:00,13:30:00 - 18:00:00
5484,2023.05_CDS.xlsx,2023-07-07,Interne,d.pavie@imadis.fr,Lyon,Journée,2023-07-07 14:00:00,2023-07-07 18:00:00,NaN,NaN,PAVIE Dylan,14:00:00,18:00:00,14:00:00 - 18:00:00
5485,2023.05_CDS.xlsx,2023-07-07,Associé,a.poulin@imadis.fr,Rennes,Journée,2023-07-07 14:00:00,2023-07-07 18:00:00,NaN,NaN,POULIN Alexandre,14:00:00,18:00:00,14:00:00 - 18:00:00
5486,2023.05_CDS.xlsx,2023-07-07,Associé,b.delorme@imadis.fr,St etienne,Journée,2023-07-07 16:00:00,2023-07-07 18:00:00,NaN,NaN,DELORME Bérengère,16:00:00,18:00:00,16:00:00 - 18:00:00
5487,2023.05_CDS.xlsx,2023-07-07,Associé,g.gorincour@imadis.fr,Marseille,Journée,2023-07-07 17:00:00,2023-07-07 18:00:00,NaN,NaN,GORINCOUR Guillaume,17:00:00,18:00:00,17:00:00 - 18:00:00

In [32]:
dfs = [df6, df7, df8, df9, df10, df11, df12, df13, df14]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.tail(10)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation
44583,2023.05_RRU.xlsx,ETCHART Paul,2023-07-06,13:00:00,NaT,15:00:00,NaN,13:00:00 - 15:00:00,2023-07-06 13:00:00,2023-07-06 15:00:00,Associé,p.etchart@imadis.fr,Bordeaux,Nuit,NaN,Nan
44584,2023.05_RRU.xlsx,KOUBAITY Omar,2023-07-06,13:00:00,NaT,15:00:00,NaN,13:00:00 - 15:00:00,2023-07-06 13:00:00,2023-07-06 15:00:00,Associé,o.koubaity@imadis.fr,Lyon,Nuit,NaN,Nan
44585,2023.05_RRU.xlsx,HERREROS Victor,2023-07-07,11:00:00,NaT,13:00:00,NaN,11:00:00 - 13:00:00,2023-07-07 11:00:00,2023-07-07 13:00:00,Associé,v.herreros@imadis.fr,Dijon,Journée,NaN,Nan
44586,2023.05_RRU.xlsx,BOUHAMAMA Amine,2023-07-07,11:00:00,NaT,13:00:00,NaN,11:00:00 - 13:00:00,2023-07-07 11:00:00,2023-07-07 13:00:00,Associé,a.bouhamama@imadis.fr,Lyon,Journée,NaN,Nan
44587,2023.05_RRU.xlsx,POULIN Alexandre,2023-07-07,11:00:00,NaT,13:00:00,NaN,11:00:00 - 13:00:00,2023-07-07 11:00:00,2023-07-07 13:00:00,Associé,a.poulin@imadis.fr,Rennes,Journée,NaN,Nan
44588,2023.05_RRU.xlsx,POURRIOL Laurent,2023-07-07,11:00:00,NaT,14:00:00,NaN,11:00:00 - 14:00:00,2023-07-07 11:00:00,2023-07-07 14:00:00,Associé,l.pourriol@imadis.fr,Lyon,Journée,NaN,Nan
44589,2023.05_RRU.xlsx,CHAPAS Gilles,2023-07-07,11:00:00,NaT,14:00:00,NaN,11:00:00 - 14:00:00,2023-07-07 11:00:00,2023-07-07 14:00:00,Associé,g.chapas@imadis.fr,St etienne,Journée,NaN,Nan
44590,2023.05_RRU.xlsx,PEYRE Rémi,2023-07-07,13:00:00,NaT,15:00:00,NaN,13:00:00 - 15:00:00,2023-07-07 13:00:00,2023-07-07 15:00:00,Associé,r.peyre@imadis.fr,Marseille,Nuit,NaN,Nan
44591,2023.05_RRU.xlsx,DELACHE Ondine,2023-07-07,13:00:00,NaT,15:00:00,NaN,13:00:00 - 15:00:00,2023-07-07 13:00:00,2023-07-07 15:00:00,Associé,o.delache@imadis.fr,Rennes,Nuit,NaN,Nan
44592,2023.05_RRU.xlsx,CHAILLOT Pierre-fleury,2023-07-09,11:00:00,NaT,13:00:00,NaN,11:00:00 - 13:00:00,2023-07-09 11:00:00,2023-07-09 13:00:00,Associé,pf.chaillot@imadis.fr,Lyon,Journée,NaN,Nan

In [33]:
#concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date'])
#concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [34]:
concatenated_df.tail(5)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation
44588,2023.05_RRU.xlsx,POURRIOL Laurent,2023-07-07,11:00:00,NaT,14:00:00,NaN,11:00:00 - 14:00:00,2023-07-07 11:00:00,2023-07-07 14:00:00,Associé,l.pourriol@imadis.fr,Lyon,Journée,NaN,Nan
44589,2023.05_RRU.xlsx,CHAPAS Gilles,2023-07-07,11:00:00,NaT,14:00:00,NaN,11:00:00 - 14:00:00,2023-07-07 11:00:00,2023-07-07 14:00:00,Associé,g.chapas@imadis.fr,St etienne,Journée,NaN,Nan
44590,2023.05_RRU.xlsx,PEYRE Rémi,2023-07-07,13:00:00,NaT,15:00:00,NaN,13:00:00 - 15:00:00,2023-07-07 13:00:00,2023-07-07 15:00:00,Associé,r.peyre@imadis.fr,Marseille,Nuit,NaN,Nan
44591,2023.05_RRU.xlsx,DELACHE Ondine,2023-07-07,13:00:00,NaT,15:00:00,NaN,13:00:00 - 15:00:00,2023-07-07 13:00:00,2023-07-07 15:00:00,Associé,o.delache@imadis.fr,Rennes,Nuit,NaN,Nan
44592,2023.05_RRU.xlsx,CHAILLOT Pierre-fleury,2023-07-09,11:00:00,NaT,13:00:00,NaN,11:00:00 - 13:00:00,2023-07-09 11:00:00,2023-07-09 13:00:00,Associé,pf.chaillot@imadis.fr,Lyon,Journée,NaN,Nan

In [35]:
def extract_value(source):
    result = re.search(r'_(.*?)\.', source)
    if result:
        return result.group(1)
    else:
        return ""

concatenated_df['Source'] = concatenated_df['Source'].apply(extract_value)

In [36]:
concatenated_df=concatenated_df.drop(['Date_Fin','Evenement'], axis=1)

In [37]:
#modifier filtre avec date de fin du dernier tour
df_filtered = concatenated_df.loc[concatenated_df['Date'] <= '2023-07-10']

In [38]:
df_filtered.tail(3)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation
44590,RRU,PEYRE Rémi,2023-07-07,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-07-07 13:00:00,2023-07-07 15:00:00,Associé,r.peyre@imadis.fr,Marseille,Nuit,NaN,Nan
44591,RRU,DELACHE Ondine,2023-07-07,13:00:00,15:00:00,13:00:00 - 15:00:00,2023-07-07 13:00:00,2023-07-07 15:00:00,Associé,o.delache@imadis.fr,Rennes,Nuit,NaN,Nan
44592,RRU,CHAILLOT Pierre-fleury,2023-07-09,11:00:00,13:00:00,11:00:00 - 13:00:00,2023-07-09 11:00:00,2023-07-09 13:00:00,Associé,pf.chaillot@imadis.fr,Lyon,Journée,NaN,Nan

In [39]:
df_filtered.to_csv('C:/Users/d.mandon/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/Concat_df.csv', index=False)