In [36]:
import pandas as pd
import glob
import numpy as np
import re

In [37]:
df6=pd.read_excel('2020.21_AO.xlsx')
df7=pd.read_excel('2020.21_CDS.xlsx')
df8=pd.read_excel('2020.21_PDS.xlsx')
df9=pd.read_excel('2020.21_RRU.xlsx')

In [38]:

df10=pd.read_excel('2021-X_AO.xlsx')
df11=pd.read_excel('2021-X_ART.xlsx')
df12=pd.read_excel('2021-X_CDS.xlsx')
df13=pd.read_excel('2021-X_PDS.xlsx')
df14=pd.read_excel('2021-X_RRU.xlsx')

In [39]:
df8.sample(4)

,Source.Name,Subject,Start Date,Start Time,End Date,End Time,All Day Event,Description,Location,Private
5792,2020.11_PDS.csv,Peyre Rémi,2020-12-30,NaN,2020-12-30,NaN,1.0,20:00:00 - 08:00:00,Imadis GARDE,1.0
4093,2020.07_PDS.csv,Messadeg Leila,2020-09-28,NaN,2020-09-28,NaN,1.0,20:00:00 - 22:00:00,Imadis GARDE,1.0
6736,2020.21_PDS.csv,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
16969,2021.01_PDS.csv,Laurendon Thomas,2021-03-16,NaN,2021-03-16,NaN,1.0,18:00:00 - 20:00:00,Imadis GARDE,1.0

In [40]:
df8.shape

(19431, 10)

In [41]:
df8.isna().sum()

Source.Name          0
Subject           9718
Start Date        9718
Start Time       19431
End Date          9718
End Time         19431
All Day Event     9718
Description       9718
Location          9718
Private           9718
dtype: int64

In [42]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Subject': 'Nom_Prenom',
                          'Start Date': 'Date',
                          'Start Time' : 'Heure_Début',
                          'End Date' : 'Date_Fin',
                          'End Time' : 'Heure_Fin',
                          'All Day Event' : 'Evenement',
                          'Description': 'Horaire',
                          'Location' : 'Type',
                          'Private' : 'Private'}

df6 = df6.rename(columns=correspondance_colonnes)
df7 = df7.rename(columns=correspondance_colonnes)
df8 = df8.rename(columns=correspondance_colonnes)
df9 = df9.rename(columns=correspondance_colonnes)

In [43]:
df6[['Heure_Début', 'Heure_Fin']] = df6['Horaire'].str.split(' - ', expand=True)
df7[['Heure_Début', 'Heure_Fin']] = df7['Horaire'].str.split(' - ', expand=True)
df8[['Heure_Début', 'Heure_Fin']] = df8['Horaire'].str.split(' - ', expand=True)
df9[['Heure_Début', 'Heure_Fin']] = df9['Horaire'].str.split(' - ', expand=True)

In [44]:
df6['Date_Heure_Fin'] = df6['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Fin']
df7['Date_Heure_Fin'] = df7['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Fin']
df8['Date_Heure_Fin'] = df8['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Fin']
df9['Date_Heure_Fin'] = df9['Date_Fin'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Fin']

In [45]:
df6['Date_Heure_Début'] = df6['Date'].dt.strftime('%Y-%m-%d')+' '+df6['Heure_Début']
df7['Date_Heure_Début'] = df7['Date'].dt.strftime('%Y-%m-%d')+' '+df7['Heure_Début']
df8['Date_Heure_Début'] = df8['Date'].dt.strftime('%Y-%m-%d')+' '+df8['Heure_Début']
df9['Date_Heure_Début'] = df9['Date'].dt.strftime('%Y-%m-%d')+' '+df9['Heure_Début']

In [46]:
df6['Associé'] = np.nan
df7['Associé'] = np.nan
df8['Associé'] = np.nan
df9['Associé'] = np.nan

In [47]:
df6['mail'] = np.nan
df7['mail'] = np.nan
df8['mail'] = np.nan
df9['mail'] = np.nan

In [48]:
df6['Site'] = np.nan
df7['Site'] = np.nan
df8['Site'] = np.nan
df9['Site'] = np.nan

In [49]:
df6['Jour/Nuit'] = np.nan
df7['Jour/Nuit'] = np.nan
df8['Jour/Nuit'] = np.nan
df9['Jour/Nuit'] = np.nan

In [50]:
df6 = df6.drop(['Type', 'Private'], axis=1)
df7 = df7.drop(['Type', 'Private'], axis=1)
df8 = df8.drop(['Type', 'Private'], axis=1)
df9 = df9.drop(['Type', 'Private'], axis=1)

In [51]:
df6 = df6.dropna(subset=['Nom_Prenom'])
df7 = df7.dropna(subset=['Nom_Prenom'])
df8 = df8.dropna(subset=['Nom_Prenom'])
df9 = df9.dropna(subset=['Nom_Prenom'])

In [52]:
df6.head()

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site,Jour/Nuit
0,2020.01_AO.csv,Annweiler Thierry,2020-01-06,20:00:00,2020-01-06,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-06 08:00:00,2020-01-06 20:00:00,NaN,NaN,NaN,NaN
1,2020.01_AO.csv,Pourriol Laurent,2020-01-07,20:00:00,2020-01-07,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-07 08:00:00,2020-01-07 20:00:00,NaN,NaN,NaN,NaN
2,2020.01_AO.csv,Youssof Emile,2020-01-08,20:00:00,2020-01-08,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-08 08:00:00,2020-01-08 20:00:00,NaN,NaN,NaN,NaN
3,2020.01_AO.csv,Bouhamama Amine,2020-01-09,20:00:00,2020-01-09,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-09 08:00:00,2020-01-09 20:00:00,NaN,NaN,NaN,NaN
4,2020.01_AO.csv,Lecomte Jean-christophe,2020-01-10,20:00:00,2020-01-10,08:00:00,1.0,20:00:00 - 08:00:00,2020-01-10 08:00:00,2020-01-10 20:00:00,NaN,NaN,NaN,NaN

In [53]:
df10.head()

,Source.Name,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11
0,2021.07_AO.xlsx,2021-07-14,Associé,RENOSI,Guillaume,g.renosi@imadis.fr,Lyon,Journée,2021-07-14 08:00:00,2021-07-14 18:00:00,Nan,Nan
1,2021.07_AO.xlsx,2021-07-14,Associé,CHAILLOT,Pierre-fleury,pf.chaillot@imadis.fr,Lyon,Nuit,2021-07-14 18:00:00,2021-07-15 08:00:00,Nan,Nan
2,2021.07_AO.xlsx,2021-07-16,Associé,JOURNE,Charles,c.journe@imadis.fr,Lyon,Nuit,2021-07-16 18:00:00,2021-07-16 22:00:00,Nan,Nan
3,2021.07_AO.xlsx,2021-07-16,Associé,CHAILLOT,Pierre-fleury,pf.chaillot@imadis.fr,Bordeaux,Nuit,2021-07-16 22:00:00,2021-07-17 08:00:00,Nan,Nan
4,2021.07_AO.xlsx,2021-07-17,Associé,PETITPIERRE,Francois,f.petitpierre@imadis.fr,Bordeaux,Journée,2021-07-17 08:00:00,2021-07-17 18:00:00,Nan,Nan

In [54]:
correspondance_colonnes = {'Source.Name': 'Source',
                          'Column1': 'Date',
                          'Column2': 'Associé',
                          'Column3' : 'Nom',
                          'Column4' : 'Prénom',
                          'Column5' : 'mail',
                          'Column6' : 'Site',
                          'Column7': 'Jour/Nuit',
                          'Column8' : 'Date_Heure_Début',
                          'Column9' : 'Date_Heure_Fin',
                          'Column10' : 'Chef',
                          'Column11' : 'Formation'}

df10 = df10.rename(columns=correspondance_colonnes)
df11 = df11.rename(columns=correspondance_colonnes)
df12 = df12.rename(columns=correspondance_colonnes)
df13 = df13.rename(columns=correspondance_colonnes)
df14 = df14.rename(columns=correspondance_colonnes)

In [55]:
df10['Nom_Prenom'] = df10['Nom']+' '+df10['Prénom']
df11['Nom_Prenom'] = df11['Nom']+' '+df11['Prénom']
df12['Nom_Prenom'] = df12['Nom']+' '+df12['Prénom']
df13['Nom_Prenom'] = df13['Nom']+' '+df13['Prénom']
df14['Nom_Prenom'] = df14['Nom']+' '+df14['Prénom']

In [56]:
df10 = df10.drop(['Nom', 'Prénom'], axis=1)
df11 = df11.drop(['Nom', 'Prénom'], axis=1)
df12 = df12.drop(['Nom', 'Prénom'], axis=1)
df13 = df13.drop(['Nom', 'Prénom'], axis=1)
df14 = df14.drop(['Nom', 'Prénom'], axis=1)

In [57]:
df11['Date_Heure_Début'] = pd.to_datetime(df11['Date_Heure_Début'], format="%d/%m/%Y %H:%M:%S")

In [58]:
df10['Heure_Début'] = df10['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df12['Heure_Début'] = df12['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df13['Heure_Début'] = df13['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df14['Heure_Début'] = df14['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [59]:
df11['Heure_Début'] = df11['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [60]:
df10['Heure_Fin'] = df10['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df12['Heure_Fin'] = df12['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df13['Heure_Fin'] = df13['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df14['Heure_Fin'] = df14['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [61]:
df11['Heure_Fin'] = df11['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [62]:
df10['Horaire'] = df10['Heure_Début']+' - '+df10['Heure_Fin']
df11['Horaire'] = df11['Heure_Début']+' - '+df11['Heure_Fin']
df12['Horaire'] = df12['Heure_Début']+' - '+df12['Heure_Fin']
df13['Horaire'] = df13['Heure_Début']+' - '+df13['Heure_Fin']
df14['Horaire'] = df14['Heure_Début']+' - '+df14['Heure_Fin']

In [63]:
df10 = df10.dropna(subset=['Nom_Prenom'])
df11 = df11.dropna(subset=['Nom_Prenom'])
df12 = df12.dropna(subset=['Nom_Prenom'])
df13 = df13.dropna(subset=['Nom_Prenom'])
df14 = df14.dropna(subset=['Nom_Prenom'])

In [64]:
df10.head()

,Source,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
0,2021.07_AO.xlsx,2021-07-14,Associé,g.renosi@imadis.fr,Lyon,Journée,2021-07-14 08:00:00,2021-07-14 18:00:00,Nan,Nan,RENOSI Guillaume,08:00:00,18:00:00,08:00:00 - 18:00:00
1,2021.07_AO.xlsx,2021-07-14,Associé,pf.chaillot@imadis.fr,Lyon,Nuit,2021-07-14 18:00:00,2021-07-15 08:00:00,Nan,Nan,CHAILLOT Pierre-fleury,18:00:00,08:00:00,18:00:00 - 08:00:00
2,2021.07_AO.xlsx,2021-07-16,Associé,c.journe@imadis.fr,Lyon,Nuit,2021-07-16 18:00:00,2021-07-16 22:00:00,Nan,Nan,JOURNE Charles,18:00:00,22:00:00,18:00:00 - 22:00:00
3,2021.07_AO.xlsx,2021-07-16,Associé,pf.chaillot@imadis.fr,Bordeaux,Nuit,2021-07-16 22:00:00,2021-07-17 08:00:00,Nan,Nan,CHAILLOT Pierre-fleury,22:00:00,08:00:00,22:00:00 - 08:00:00
4,2021.07_AO.xlsx,2021-07-17,Associé,f.petitpierre@imadis.fr,Bordeaux,Journée,2021-07-17 08:00:00,2021-07-17 18:00:00,Nan,Nan,PETITPIERRE Francois,08:00:00,18:00:00,08:00:00 - 18:00:00

In [65]:
dfs = [df6, df7, df8, df9, df10, df11, df12, df13, df14]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.sample(10)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site,Jour/Nuit,Chef,Formation
14464,2022.05_ART.xlsx,GUILLAUBEY Geoffroy,2022-05-15,08:00:00,NaT,13:00:00,NaN,08:00:00 - 13:00:00,2022-05-15 13:00:00,2022-05-15 08:00:00,Interne,g.guillaubey@imadis.fr,St etienne,Journée,Nan,Nan
40865,2023.05_PDS.xlsx,MEZHER Sami,2023-07-02,08:00:00,NaT,20:00:00,NaN,08:00:00 - 20:00:00,2023-07-02 20:00:00,2023-07-02 08:00:00,Interne,s.mezher@imadis.fr,Clermont-ferrand,Journée,NaN,NaN
9367,2021.01_PDS.csv,Heidelberg Damien,2021-02-15,20:00:00,2021-02-15,08:00:00,1.0,20:00:00 - 08:00:00,2021-02-15 08:00:00,2021-02-15 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
36920,2023.01_PDS.xlsx,MALAUREILLE Lison,2023-02-20,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2023-02-21 08:00:00,2023-02-20 20:00:00,Associé,l.malaureille@imadis.fr,Lyon,Nuit,NaN,NaN
7031,2020.07_PDS.csv,Laubacher Morgane,2020-10-13,18:00:00,2020-10-13,20:00:00,1.0,18:00:00 - 20:00:00,2020-10-13 20:00:00,2020-10-13 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
7254,2020.07_PDS.csv,Perrey Antoine,2020-10-24,20:00:00,2020-10-24,08:00:00,1.0,20:00:00 - 08:00:00,2020-10-24 08:00:00,2020-10-24 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
38126,2023.01_PDS.xlsx,DELORME Bérengère,2023-03-31,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2023-04-01 08:00:00,2023-03-31 20:00:00,Associé,b.delorme@imadis.fr,St etienne,Nuit,Chef de site,NaN
7427,2020.11_PDS.csv,Chuzel Quentin,2020-11-03,20:00:00,2020-11-03,01:00:00,1.0,20:00:00 - 01:00:00,2020-11-03 01:00:00,2020-11-03 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
24513,2021.11_PDS.xlsx,HISSIER Julien,2021-12-03,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2021-12-04 08:00:00,2021-12-03 20:00:00,Thèsé,j.hissier@imadis.fr,Rennes,Nuit,Chef de site,NaN
34806,2022.11_PDS.xlsx,BENKHALIFA David,2022-12-13,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2022-12-14 08:00:00,2022-12-13 20:00:00,Thèsé,d.benkhalifa@imadis.fr,Lyon,Nuit,NaN,NaN

In [66]:
concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date'])
concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [67]:
def extract_value(source):
    result = re.search(r'_(.*?)\.', source)
    if result:
        return result.group(1)
    else:
        return ""

concatenated_df['Source'] = concatenated_df['Source'].apply(extract_value)

In [68]:
concatenated_df.sample(5)

,Source,Nom_Prenom,Date,Heure_Début,Date_Fin,Heure_Fin,Evenement,Horaire,Date_Heure_Fin,Date_Heure_Début,Associé,mail,Site,Jour/Nuit,Chef,Formation
22899,PDS,L'HUILLIER Romain,29/09/2021,18:00:00,NaT,20:00:00,NaN,18:00:00 - 20:00:00,2021-09-29 20:00:00,2021-09-29 18:00:00,Interne,r.lhuillier@imadis.fr,Lyon,Journée,NaN,NaN
25175,PDS,GIANELLI Benoit,30/12/2021,18:00:00,NaT,20:00:00,NaN,18:00:00 - 20:00:00,2021-12-30 20:00:00,2021-12-30 18:00:00,Thèsé,b.gianelli@imadis.fr,Rennes,Journée,NaN,NaN
38747,PDS,RE Inés,21/04/2023,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2023-04-22 08:00:00,2023-04-21 20:00:00,Interne,i.re@imadis.fr,Lyon,Nuit,NaN,NaN
26075,PDS,COUSSY Alexis,02/02/2022,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2022-02-03 08:00:00,2022-02-02 20:00:00,Associé,a.coussy@imadis.fr,Bordeaux,Nuit,Chef de site,NaN
24964,PDS,SCHREINER Camille,21/12/2021,20:00:00,NaT,08:00:00,NaN,20:00:00 - 08:00:00,2021-12-22 08:00:00,2021-12-21 20:00:00,Thèsé,c.schreiner@imadis.fr,Lyon,Nuit,NaN,NaN

In [34]:
concatenated_df=concatenated_df.drop(['Date_Fin','Evenement'], axis=1)

In [35]:
concatenated_df.to_csv('Concat_df.csv', index=False)