In [1]:
import pandas as pd
import glob
import numpy as np
import re

# Ajouter les nouvelles données du planning

In [2]:
#download_folder = 'C:/Users/d.mandon/Downloads/'
#excel_files = glob.glob(download_folder + 'export*.xlsx')

In [3]:
download_folder = 'C:/Users/debor/Downloads/'
excel_files = glob.glob(download_folder + 'export*.xlsx')

In [4]:
excel_files[:5]

['C:/Users/debor/Downloads\\export (1).xlsx',
 'C:/Users/debor/Downloads\\export (2).xlsx',
 'C:/Users/debor/Downloads\\export (3).xlsx',
 'C:/Users/debor/Downloads\\export (4).xlsx',
 'C:/Users/debor/Downloads\\export.xlsx']

In [5]:
df1=pd.read_excel(excel_files[0], header=None)
df2=pd.read_excel(excel_files[1], header=None)
df3=pd.read_excel(excel_files[2], header=None)
df4=pd.read_excel(excel_files[3], header=None)
df5=pd.read_excel(excel_files[4], header=None)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       29 non-null     object
 1   1       26 non-null     object
 2   2       38 non-null     object
 3   3       38 non-null     object
 4   4       26 non-null     object
 5   5       27 non-null     object
 6   6       38 non-null     object
 7   7       38 non-null     object
 8   8       38 non-null     object
dtypes: object(9)
memory usage: 5.1+ KB

In [7]:
df3.head()

,0,1,2,3,4,5,6,7,8
0,09/05/2023,Associé,DEHBI,Sabrina,s.dehbi@imadis.fr,Lyon,Journée,09/05/2023 11:00:00,09/05/2023 13:00:00
1,NaN,Associé,PERREY,Antoine,a.perrey@imadis.fr,Marseille,Journée,09/05/2023 11:00:00,09/05/2023 13:00:00
2,NaN,Associé,BEY,Loic,l.bey@imadis.fr,St etienne,Journée,09/05/2023 11:00:00,09/05/2023 13:00:00
3,NaN,Associé,ALONZO LACROIX,Florian,f.alonzo@imadis.fr,Lyon,Journée,09/05/2023 11:00:00,09/05/2023 14:00:00
4,NaN,Associé,DI FRANCO,Florian,f.difranco@imadis.fr,Lyon,Journée,09/05/2023 11:00:00,09/05/2023 14:00:00

In [8]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin'}

df1 = df1.rename(columns=correspondance_colonnes)
df3 = df3.rename(columns=correspondance_colonnes)
df4 = df4.rename(columns=correspondance_colonnes)

In [9]:
correspondance_colonnes = {0: 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin',
                          9 : 'Chef',
                          10 : 'Formation'}

df2 = df2.rename(columns=correspondance_colonnes)
df5 = df5.rename(columns=correspondance_colonnes)

In [10]:
df1['Chef'] = np.nan
df3['Chef'] = np.nan
df4['Chef'] = np.nan

df1['Formation'] = np.nan
df2['Formation'] = np.nan
df3['Formation'] = np.nan
df4['Formation'] = np.nan

In [11]:
df1['Source'] = 'AO'
df2['Source'] = 'CDS'
df3['Source'] = 'RRU'
df4['Source'] = 'ART'
df5['Source'] = 'PDS'

In [12]:
df1['Date'] = df1['Date'].fillna(method='ffill')
df2['Date'] = df2['Date'].fillna(method='ffill')
df3['Date'] = df3['Date'].fillna(method='ffill')
df4['Date'] = df4['Date'].fillna(method='ffill')
df5['Date'] = df5['Date'].fillna(method='ffill')

In [13]:
df1['Nom_Prenom'] = df1['Nom']+' '+df1['Prénom']
df2['Nom_Prenom'] = df2['Nom']+' '+df2['Prénom']
df3['Nom_Prenom'] = df3['Nom']+' '+df3['Prénom']
df4['Nom_Prenom'] = df4['Nom']+' '+df4['Prénom']
df5['Nom_Prenom'] = df5['Nom']+' '+df5['Prénom']

In [14]:
df1=df1.drop(['Nom', 'Prénom', 'Jour/Nuit'], axis=1)
df2=df2.drop(['Nom', 'Prénom', 'Jour/Nuit'], axis=1)
df3=df3.drop(['Nom', 'Prénom', 'Jour/Nuit'], axis=1)
df4=df4.drop(['Nom', 'Prénom', 'Jour/Nuit'], axis=1)
df5=df5.drop(['Nom', 'Prénom', 'Jour/Nuit'], axis=1)

In [15]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d/%m/%Y')
df2['Date'] = pd.to_datetime(df2['Date'], format='%d/%m/%Y')
df3['Date'] = pd.to_datetime(df3['Date'], format='%d/%m/%Y')
df4['Date'] = pd.to_datetime(df4['Date'], format='%d/%m/%Y')
df5['Date'] = pd.to_datetime(df5['Date'], format='%d/%m/%Y')

In [16]:
df1['Date_Heure_Début'] = pd.to_datetime(df1['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Début'] = pd.to_datetime(df2['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Début'] = pd.to_datetime(df3['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Début'] = pd.to_datetime(df4['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Début'] = pd.to_datetime(df5['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")

In [17]:
df1['Date_Heure_Fin'] = pd.to_datetime(df1['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Fin'] = pd.to_datetime(df2['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Fin'] = pd.to_datetime(df3['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Fin'] = pd.to_datetime(df4['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Fin'] = pd.to_datetime(df5['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")

In [18]:
df1['Heure_Début'] = df1['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df2['Heure_Début'] = df2['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df3['Heure_Début'] = df3['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df4['Heure_Début'] = df4['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df5['Heure_Début'] = df5['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [19]:
df1['Heure_Fin'] = df1['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df2['Heure_Fin'] = df2['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df3['Heure_Fin'] = df3['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df4['Heure_Fin'] = df4['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df5['Heure_Fin'] = df5['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [20]:
df1['Horaire'] = df1['Heure_Début']+' - '+df1['Heure_Fin']
df2['Horaire'] = df2['Heure_Début']+' - '+df2['Heure_Fin']
df3['Horaire'] = df3['Heure_Début']+' - '+df3['Heure_Fin']
df4['Horaire'] = df4['Heure_Début']+' - '+df4['Heure_Fin']
df5['Horaire'] = df5['Heure_Début']+' - '+df5['Heure_Fin']

In [21]:
df1 = df1.dropna(subset=['Nom_Prenom'])
df2 = df2.dropna(subset=['Nom_Prenom'])
df3 = df3.dropna(subset=['Nom_Prenom'])
df4 = df4.dropna(subset=['Nom_Prenom'])
df5 = df5.dropna(subset=['Nom_Prenom'])

In [23]:
dfs = [df1, df2, df3, df4, df5]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.sample(10)

,Date,Associé,mail,Site,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
1258,2023-05-11,Associé,v.herreros@imadis.fr,Dijon,2023-05-11 18:00:00,2023-05-11 20:00:00,NaN,NaN,PDS,HERREROS Victor,18:00:00,20:00:00,18:00:00 - 20:00:00
3002,2023-07-08,Interne,m.stoppa@imadis.fr,Marseille,2023-07-08 20:00:00,2023-07-09 08:00:00,NaN,NaN,PDS,STOPPA Margaux,20:00:00,08:00:00,20:00:00 - 08:00:00
1544,2023-05-20,Thèsé,l.vins@imadis.fr,Brest,2023-05-20 18:00:00,2023-05-21 08:00:00,NaN,NaN,PDS,VINS Laura,18:00:00,08:00:00,18:00:00 - 08:00:00
820,2023-06-06,Associé,o.koubaity@imadis.fr,Lyon,2023-06-06 11:00:00,2023-06-06 13:00:00,NaN,NaN,RRU,KOUBAITY Omar,11:00:00,13:00:00,11:00:00 - 13:00:00
1297,2023-05-12,Thèsé,am.mandache@imadis.fr,Lyon,2023-05-12 18:00:00,2023-05-12 21:00:00,NaN,NaN,PDS,MANDACHE Ana-maria,18:00:00,21:00:00,18:00:00 - 21:00:00
776,2023-05-31,Associé,pf.chaillot@imadis.fr,Lyon,2023-05-31 11:00:00,2023-05-31 13:00:00,NaN,NaN,RRU,CHAILLOT Pierre-fleury,11:00:00,13:00:00,11:00:00 - 13:00:00
590,2023-07-06,Associé,a.thibaut@imadis.fr,Lyon,2023-07-06 13:00:00,2023-07-06 18:00:00,NaN,NaN,CDS,THIBAUT Antoine,13:00:00,18:00:00,13:00:00 - 18:00:00
212,2023-05-26,Associé,p.etchart@imadis.fr,Bordeaux,2023-05-26 13:00:00,2023-05-26 18:00:00,NaN,NaN,CDS,ETCHART Paul,13:00:00,18:00:00,13:00:00 - 18:00:00
1107,2023-06-09,Interne,a.garnaud@imadis.fr,Lyon,2023-06-09 19:00:00,2023-06-10 02:00:00,NaN,NaN,ART,GARNAUD Alexandre,19:00:00,02:00:00,19:00:00 - 02:00:00
2737,2023-06-29,Associé,a.perrey@imadis.fr,Marseille,2023-06-29 20:00:00,2023-06-30 08:00:00,NaN,NaN,PDS,PERREY Antoine,20:00:00,08:00:00,20:00:00 - 08:00:00

In [24]:
concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date'])
concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [25]:
concatenated_df.head()

,Date,Associé,mail,Site,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
0,12/05/2023,Associé,e.stephant@imadis.fr,Bordeaux,2023-05-12 18:00:00,2023-05-13 08:00:00,NaN,NaN,AO,STEPHANT Eric,18:00:00,08:00:00,18:00:00 - 08:00:00
1,13/05/2023,Associé,a.bencheikh@imadis.fr,Lyon,2023-05-13 08:00:00,2023-05-13 18:00:00,NaN,NaN,AO,BEN CHEIKH Alexandre,08:00:00,18:00:00,08:00:00 - 18:00:00
2,13/05/2023,Associé,b.delorme@imadis.fr,St etienne,2023-05-13 18:00:00,2023-05-14 08:00:00,NaN,NaN,AO,DELORME Bérengère,18:00:00,08:00:00,18:00:00 - 08:00:00
3,14/05/2023,Associé,c.erhart@imadis.fr,Rennes,2023-05-14 10:00:00,2023-05-14 20:00:00,NaN,NaN,AO,ERHART Charlélie,10:00:00,20:00:00,10:00:00 - 20:00:00
4,18/05/2023,Associé,n.lippa@imadis.fr,Bordeaux,2023-05-18 10:00:00,2023-05-18 20:00:00,NaN,NaN,AO,LIPPA Nicolas,10:00:00,20:00:00,10:00:00 - 20:00:00

In [26]:
concatenated_df.to_csv('new_data.csv', index=False)