In [1]:
import pandas as pd
import glob
import numpy as np
import re
import getpass

# Ajouter les nouvelles données du planning

In [2]:
# utilisateurs
username = getpass.getuser()

In [3]:
df1=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_ao.csv')
df2=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_cds.csv')
df3=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_rru.csv')
df4=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_art.csv')
df5=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/df_pds.csv')

In [13]:
df1.head()

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13/07/2023,NaN,A POURVOIR,A pourvoir,NaN,NaN,Nuit,13/07/2023 18:00:00,14/07/2023 08:00:00
4,14/07/2023,Associé,ERHART,Charlélie,c.erhart@imadis.fr,Rennes,Journée,14/07/2023 10:00:00,14/07/2023 20:00:00

In [14]:
correspondance_colonnes = {'0' : 'Date',
                          '1': 'Associé',
                          '2': 'Nom',
                          '3' : 'Prénom',
                          '4' : 'mail',
                          '5' : 'Site',
                          '6' : 'Jour/Nuit',
                          '7': 'Date_Heure_Début',
                          '8' : 'Date_Heure_Fin'}

df1 = df1.rename(columns=correspondance_colonnes)
df3 = df3.rename(columns=correspondance_colonnes)

In [15]:
correspondance_colonnes = {'0' : 'Date',
                          '1': 'Associé',
                          '2': 'Nom',
                          '3' : 'Prénom',
                          '4' : 'mail',
                          '5' : 'Site',
                          '6' : 'Jour/Nuit',
                          '7': 'Date_Heure_Début',
                          '8' : 'Date_Heure_Fin',
                          '9' : 'Chef',
                          '10' : 'Formation'}

df2 = df2.rename(columns=correspondance_colonnes)
df5 = df5.rename(columns=correspondance_colonnes)
df4 = df4.rename(columns=correspondance_colonnes)

In [16]:
df1['Chef'] = np.nan
df3['Chef'] = np.nan
df4['Chef'] = np.nan

df1['Formation'] = np.nan
df2['Formation'] = np.nan
df3['Formation'] = np.nan
df4['Formation'] = np.nan

df1['Source'] = 'AO'
df2['Source'] = 'CDS'
df3['Source'] = 'RRU'
df4['Source'] = 'ART'
df5['Source'] = 'PDS'

df1['Nom_Prenom'] = df1['Nom']+' '+df1['Prénom']
df2['Nom_Prenom'] = df2['Nom']+' '+df2['Prénom']
df3['Nom_Prenom'] = df3['Nom']+' '+df3['Prénom']
df4['Nom_Prenom'] = df4['Nom']+' '+df4['Prénom']
df5['Nom_Prenom'] = df5['Nom']+' '+df5['Prénom']

df1 = df1.dropna(subset=['Nom_Prenom'])
df2 = df2.dropna(subset=['Nom_Prenom'])
df3 = df3.dropna(subset=['Nom_Prenom'])
df4 = df4.dropna(subset=['Nom_Prenom'])
df5 = df5.dropna(subset=['Nom_Prenom'])

KeyError: 'Nom'

In [9]:
df1['Date'] = df1['Date'].fillna(method='ffill')
df2['Date'] = df2['Date'].fillna(method='ffill')
df3['Date'] = df3['Date'].fillna(method='ffill')
df4['Date'] = df4['Date'].fillna(method='ffill')
df5['Date'] = df5['Date'].fillna(method='ffill')

df1=df1.drop(['Nom', 'Prénom'], axis=1)
df2=df2.drop(['Nom', 'Prénom'], axis=1)
df3=df3.drop(['Nom', 'Prénom'], axis=1)
df4=df4.drop(['Nom', 'Prénom'], axis=1)
df5=df5.drop(['Nom', 'Prénom'], axis=1)

In [15]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d/%m/%Y')
df1['Date'] = df1['Date'].dt.strftime('%Y-%m-%d')
df2['Date'] = pd.to_datetime(df2['Date'], format='%d/%m/%Y')
df2['Date'] = df2['Date'].dt.strftime('%Y-%m-%d')
df3['Date'] = pd.to_datetime(df3['Date'], format='%d/%m/%Y')
df3['Date'] = df3['Date'].dt.strftime('%Y-%m-%d')
df4['Date'] = pd.to_datetime(df4['Date'], format='%d/%m/%Y')
df4['Date'] = df4['Date'].dt.strftime('%Y-%m-%d')
df5['Date'] = pd.to_datetime(df5['Date'], format='%d/%m/%Y')
df5['Date'] = df5['Date'].dt.strftime('%Y-%m-%d')

In [16]:
df1['Date_Heure_Début'] = pd.to_datetime(df1['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Début'] = pd.to_datetime(df2['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Début'] = pd.to_datetime(df3['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Début'] = pd.to_datetime(df4['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Début'] = pd.to_datetime(df5['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")

In [18]:
df1['Date_Heure_Fin'] = pd.to_datetime(df1['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Fin'] = pd.to_datetime(df2['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Fin'] = pd.to_datetime(df3['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Fin'] = pd.to_datetime(df4['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Fin'] = pd.to_datetime(df5['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")

In [20]:
df1.head()

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début
3,2023-05-12,Associé,e.stephant@imadis.fr,Bordeaux,Nuit,2023-05-12 18:00:00,2023-05-13 08:00:00,NaN,NaN,AO,STEPHANT Eric,18:00:00
4,2023-05-13,Associé,a.bencheikh@imadis.fr,Lyon,Journée,2023-05-13 08:00:00,2023-05-13 18:00:00,NaN,NaN,AO,BEN CHEIKH Alexandre,08:00:00
5,2023-05-13,Associé,b.delorme@imadis.fr,St etienne,Nuit,2023-05-13 18:00:00,2023-05-14 08:00:00,NaN,NaN,AO,DELORME Bérengère,18:00:00
6,2023-05-14,Associé,c.erhart@imadis.fr,Rennes,Journée,2023-05-14 10:00:00,2023-05-14 20:00:00,NaN,NaN,AO,ERHART Charlélie,10:00:00
10,2023-05-18,Associé,n.lippa@imadis.fr,Bordeaux,Journée,2023-05-18 10:00:00,2023-05-18 20:00:00,NaN,NaN,AO,LIPPA Nicolas,10:00:00

In [19]:
df1['Heure_Début'] = df1['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df2['Heure_Début'] = df2['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df3['Heure_Début'] = df3['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df4['Heure_Début'] = df4['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df5['Heure_Début'] = df5['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [21]:
df1['Heure_Fin'] = df1['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df2['Heure_Fin'] = df2['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df3['Heure_Fin'] = df3['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df4['Heure_Fin'] = df4['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df5['Heure_Fin'] = df5['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [22]:
df1['Horaire'] = df1['Heure_Début']+' - '+df1['Heure_Fin']
df2['Horaire'] = df2['Heure_Début']+' - '+df2['Heure_Fin']
df3['Horaire'] = df3['Heure_Début']+' - '+df3['Heure_Fin']
df4['Horaire'] = df4['Heure_Début']+' - '+df4['Heure_Fin']
df5['Horaire'] = df5['Heure_Début']+' - '+df5['Heure_Fin']

In [23]:
dfs = [df1, df2, df3, df4, df5]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

concatenated_df.sample(10)

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
1111,2023-05-17,Interne,y.chikh@imadis.fr,Lyon,Nuit,2023-05-17 19:00:00,2023-05-18 01:00:00,NaN,NaN,ART,CHIKH Yanis,19:00:00,01:00:00,19:00:00 - 01:00:00
2036,2023-06-03,Interne,a.mitaine@imadis.fr,Dijon,Nuit,2023-06-03 18:00:00,2023-06-04 01:00:00,Chef de site,NaN,PDS,MITAINE Aurore,18:00:00,01:00:00,18:00:00 - 01:00:00
1091,2023-05-11,Interne,j.colafrancesco@imadis.fr,St etienne,Journée,2023-05-11 08:00:00,2023-05-11 13:00:00,NaN,NaN,ART,COLAFRANCESCO Julien,08:00:00,13:00:00,08:00:00 - 13:00:00
293,2023-06-06,Associé,d.heidelberg@imadis.fr,Lyon,Journée,2023-06-06 08:00:00,2023-06-06 13:00:00,NaN,NaN,CDS,HEIDELBERG Damien,08:00:00,13:00:00,08:00:00 - 13:00:00
1186,2023-06-13,Interne,c.felicia@imadis.fr,Lyon,Journée,2023-06-13 08:00:00,2023-06-13 13:00:00,NaN,NaN,ART,FELICIA Corentin,08:00:00,13:00:00,08:00:00 - 13:00:00
2242,2023-06-10,Thèsé,christine.renault_saillard@yahoo.fr,Lyon,Journée,2023-06-10 12:00:00,2023-06-10 21:00:00,NaN,NaN,PDS,RENAULT Christine,12:00:00,21:00:00,12:00:00 - 21:00:00
1443,2023-05-14,Associé,g.bouquet@imadis.fr,Lyon,Nuit,2023-05-14 20:00:00,2023-05-15 08:00:00,NaN,NaN,PDS,BOUQUET Gregoire,20:00:00,08:00:00,20:00:00 - 08:00:00
1837,2023-05-27,Associé,p.lemardele@imadis.fr,Bordeaux,Nuit,2023-05-27 20:00:00,2023-05-28 08:00:00,NaN,NaN,PDS,LEMARDELE Pierre,20:00:00,08:00:00,20:00:00 - 08:00:00
2637,2023-06-23,Interne,n.stacoffe@imadis.fr,Lyon,Nuit,2023-06-23 20:00:00,2023-06-24 08:00:00,NaN,NaN,PDS,STACOFFE Nicolas,20:00:00,08:00:00,20:00:00 - 08:00:00
2410,2023-06-16,Associé,b.gianelli@imadis.fr,Rennes,Nuit,2023-06-16 18:00:00,2023-06-16 20:00:00,NaN,NaN,PDS,GIANELLI Benoit,18:00:00,20:00:00,18:00:00 - 20:00:00

In [37]:
#concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date'])
#concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [24]:
concatenated_df.head()

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
0,2023-05-12,Associé,e.stephant@imadis.fr,Bordeaux,Nuit,2023-05-12 18:00:00,2023-05-13 08:00:00,NaN,NaN,AO,STEPHANT Eric,18:00:00,08:00:00,18:00:00 - 08:00:00
1,2023-05-13,Associé,a.bencheikh@imadis.fr,Lyon,Journée,2023-05-13 08:00:00,2023-05-13 18:00:00,NaN,NaN,AO,BEN CHEIKH Alexandre,08:00:00,18:00:00,08:00:00 - 18:00:00
2,2023-05-13,Associé,b.delorme@imadis.fr,St etienne,Nuit,2023-05-13 18:00:00,2023-05-14 08:00:00,NaN,NaN,AO,DELORME Bérengère,18:00:00,08:00:00,18:00:00 - 08:00:00
3,2023-05-14,Associé,c.erhart@imadis.fr,Rennes,Journée,2023-05-14 10:00:00,2023-05-14 20:00:00,NaN,NaN,AO,ERHART Charlélie,10:00:00,20:00:00,10:00:00 - 20:00:00
4,2023-05-18,Associé,n.lippa@imadis.fr,Bordeaux,Journée,2023-05-18 10:00:00,2023-05-18 20:00:00,NaN,NaN,AO,LIPPA Nicolas,10:00:00,20:00:00,10:00:00 - 20:00:00

In [25]:
concatenated_df.to_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/new_data.csv', index=F)