In [1]:
import pandas as pd
import glob
import numpy as np
import re
import getpass

# Ajouter les nouvelles données du planning

In [2]:
# utilisateurs
username = getpass.getuser()

In [3]:
df1=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (AO).xlsx', header=None)
df2=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (CDS).xlsx', header=None)
df3=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (RRU).xlsx', header=None)
df4=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (ART).xlsx', header=None)
df5=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (PDS).xlsx', header=None)

In [4]:
'''
df1=pd.read_excel('ao.xlsx', header=None)
df2=pd.read_excel('cds.xlsx', header=None)
df3=pd.read_excel('rru.xlsx', header=None)
df4=pd.read_excel('art.xlsx', header=None)
df5=pd.read_excel('pds.xlsx', header=None)
'''

"\ndf1=pd.read_excel('ao.xlsx', header=None)\ndf2=pd.read_excel('cds.xlsx', header=None)\ndf3=pd.read_excel('rru.xlsx', header=None)\ndf4=pd.read_excel('art.xlsx', header=None)\ndf5=pd.read_excel('pds.xlsx', header=None)\n"

In [5]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       118 non-null    object
 1   1       285 non-null    object
 2   2       309 non-null    object
 3   3       309 non-null    object
 4   4       285 non-null    object
 5   5       285 non-null    object
 6   6       309 non-null    object
 7   7       309 non-null    object
 8   8       309 non-null    object
dtypes: object(9)
memory usage: 21.9+ KB

In [6]:
df1.head()

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13/07/2023,NaN,A POURVOIR,A pourvoir,NaN,NaN,Nuit,13/07/2023 18:00:00,14/07/2023 08:00:00
4,14/07/2023,Associé,ERHART,Charlélie,c.erhart@imadis.fr,Rennes,Journée,14/07/2023 10:00:00,14/07/2023 20:00:00

In [7]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin'}

df1 = df1.rename(columns=correspondance_colonnes)
df3 = df3.rename(columns=correspondance_colonnes)

In [8]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin',
                          9 : 'Chef'}

df2 = df2.rename(columns=correspondance_colonnes)

In [9]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin',
                          9 : 'Chef',
                          10 : 'Formation'}

df2 = df2.rename(columns=correspondance_colonnes)
df5 = df5.rename(columns=correspondance_colonnes)
df4 = df4.rename(columns=correspondance_colonnes)

In [10]:
df1['Chef'] = np.nan
df3['Chef'] = np.nan
df4['Chef'] = np.nan

df1['Formation'] = np.nan
df2['Formation'] = np.nan
df3['Formation'] = np.nan
df4['Formation'] = np.nan

In [11]:
df1['Source'] = 'AO'
df2['Source'] = 'CDS'
df3['Source'] = 'RRU'
df4['Source'] = 'ART'
df5['Source'] = 'PDS'

In [12]:
df1['Nom_Prenom'] = df1['Nom']+' '+df1['Prénom']
df2['Nom_Prenom'] = df2['Nom']+' '+df2['Prénom']
df3['Nom_Prenom'] = df3['Nom']+' '+df3['Prénom']
df4['Nom_Prenom'] = df4['Nom']+' '+df4['Prénom']
df5['Nom_Prenom'] = df5['Nom']+' '+df5['Prénom']

In [13]:
df1 = df1.dropna(subset=['Nom_Prenom'])
df2 = df2.dropna(subset=['Nom_Prenom'])
df3 = df3.dropna(subset=['Nom_Prenom'])
df4 = df4.dropna(subset=['Nom_Prenom'])
df5 = df5.dropna(subset=['Nom_Prenom'])

In [14]:
df2.head()

,Date,Associé,Nom,Prénom,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom
0,10/07/2023,Interne,KANAN,Achraf,a.kanan@imadis.fr,Clermont-ferrand,Journée,10/07/2023 08:00:00,10/07/2023 13:00:00,NaN,NaN,CDS,KANAN Achraf
1,NaN,Thèsé,ROCHE,Stanislas,s.roche@imadis.fr,Dijon,Journée,10/07/2023 08:00:00,10/07/2023 13:00:00,NaN,NaN,CDS,ROCHE Stanislas
2,NaN,Associé,HISSIER,Julien,j.hissier@imadis.fr,Rennes,Journée,10/07/2023 08:00:00,10/07/2023 13:00:00,Chef de CDS,NaN,CDS,HISSIER Julien
3,NaN,Associé,GHELIS,Nil,n.ghelis@imadis.fr,Clermont-ferrand,Journée,10/07/2023 09:00:00,10/07/2023 14:00:00,NaN,NaN,CDS,GHELIS Nil
4,NaN,Associé,DI FRANCO,Florian,f.difranco@imadis.fr,Lyon,Journée,10/07/2023 10:00:00,10/07/2023 18:00:00,NaN,NaN,CDS,DI FRANCO Florian

In [15]:
df1['Date'] = df1['Date'].fillna(method='ffill')
df2['Date'] = df2['Date'].fillna(method='ffill')
df3['Date'] = df3['Date'].fillna(method='ffill')
df4['Date'] = df4['Date'].fillna(method='ffill')
df5['Date'] = df5['Date'].fillna(method='ffill')

In [16]:
df1=df1.drop(['Nom', 'Prénom'], axis=1)
df2=df2.drop(['Nom', 'Prénom'], axis=1)
df3=df3.drop(['Nom', 'Prénom'], axis=1)
df4=df4.drop(['Nom', 'Prénom'], axis=1)
df5=df5.drop(['Nom', 'Prénom'], axis=1)

In [17]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d/%m/%Y')
df1['Date'] = df1['Date'].dt.strftime('%Y-%m-%d')
df2['Date'] = pd.to_datetime(df2['Date'], format='%d/%m/%Y')
df2['Date'] = df2['Date'].dt.strftime('%Y-%m-%d')
df3['Date'] = pd.to_datetime(df3['Date'], format='%d/%m/%Y')
df3['Date'] = df3['Date'].dt.strftime('%Y-%m-%d')
df4['Date'] = pd.to_datetime(df4['Date'], format='%d/%m/%Y')
df4['Date'] = df4['Date'].dt.strftime('%Y-%m-%d')
df5['Date'] = pd.to_datetime(df5['Date'], format='%d/%m/%Y')
df5['Date'] = df5['Date'].dt.strftime('%Y-%m-%d')

In [18]:
df1['Date_Heure_Début'] = pd.to_datetime(df1['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Début'] = pd.to_datetime(df2['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Début'] = pd.to_datetime(df3['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Début'] = pd.to_datetime(df4['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Début'] = pd.to_datetime(df5['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")

In [19]:
df1['Date_Heure_Fin'] = pd.to_datetime(df1['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Fin'] = pd.to_datetime(df2['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Fin'] = pd.to_datetime(df3['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Fin'] = pd.to_datetime(df4['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Fin'] = pd.to_datetime(df5['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")

In [20]:
df1['Heure_Début'] = df1['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df2['Heure_Début'] = df2['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df3['Heure_Début'] = df3['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df4['Heure_Début'] = df4['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df5['Heure_Début'] = df5['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [21]:
df1['Heure_Fin'] = df1['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df2['Heure_Fin'] = df2['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df3['Heure_Fin'] = df3['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df4['Heure_Fin'] = df4['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df5['Heure_Fin'] = df5['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [22]:
df1['Horaire'] = df1['Heure_Début']+' - '+df1['Heure_Fin']
df2['Horaire'] = df2['Heure_Début']+' - '+df2['Heure_Fin']
df3['Horaire'] = df3['Heure_Début']+' - '+df3['Heure_Fin']
df4['Horaire'] = df4['Heure_Début']+' - '+df4['Heure_Fin']
df5['Horaire'] = df5['Heure_Début']+' - '+df5['Heure_Fin']

In [23]:
dfs = [df1, df2, df3,df5]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

In [24]:
#concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [25]:

concatenated_df.sample(10)

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
2144,2023-07-28,Associé,n.lippa@imadis.fr,Bordeaux,Nuit,2023-07-28 20:00:00,2023-07-29 08:00:00,NaN,NaN,PDS,LIPPA Nicolas,20:00:00,08:00:00,20:00:00 - 08:00:00
1090,2023-07-19,Associé,a.coulon@imadis.fr,Lyon,Journée,2023-07-19 11:00:00,2023-07-19 13:00:00,NaN,NaN,RRU,COULON Agnès,11:00:00,13:00:00,11:00:00 - 13:00:00
1992,2023-07-22,Interne,g.bernard@imadis.fr,Rennes,Nuit,2023-07-22 20:00:00,2023-07-23 08:00:00,NaN,NaN,PDS,BERNARD Gontran,20:00:00,08:00:00,20:00:00 - 08:00:00
493,2023-08-24,Associé,a.allary@imadis.fr,Marseille,Nuit,2023-08-24 13:00:00,2023-08-24 18:00:00,NaN,NaN,CDS,ALLARY Alexandre,13:00:00,18:00:00,13:00:00 - 18:00:00
1555,2023-10-18,Associé,a.acquier@imadis.fr,Dijon,Journée,2023-10-18 11:00:00,2023-10-18 13:00:00,NaN,NaN,RRU,ACQUIER Adrien,11:00:00,13:00:00,11:00:00 - 13:00:00
932,2023-10-19,Interne,a.kanan@imadis.fr,Clermont-ferrand,Journée,2023-10-19 09:00:00,2023-10-19 14:00:00,NaN,NaN,CDS,KANAN Achraf,09:00:00,14:00:00,09:00:00 - 14:00:00
3203,2023-09-09,Interne,c.hocine@imadis.fr,Marseille,Journée,2023-09-09 08:00:00,2023-09-09 19:00:00,NaN,NaN,PDS,HOCINE Chakir,08:00:00,19:00:00,08:00:00 - 19:00:00
3246,2023-09-10,Associé,t.jurkovic@imadis.fr,Lyon,Nuit,2023-09-10 20:00:00,2023-09-11 08:00:00,NaN,NaN,PDS,JURKOVIC Thomas,20:00:00,08:00:00,20:00:00 - 08:00:00
2059,2023-07-25,Interne,f.ribet@imadis.fr,Rennes,Nuit,2023-07-25 18:00:00,2023-07-25 21:00:00,NaN,NaN,PDS,RIBET Félix,18:00:00,21:00:00,18:00:00 - 21:00:00
3824,2023-10-11,Interne,t.linet@imadis.fr,Bordeaux,Nuit,2023-10-11 20:00:00,2023-10-12 08:00:00,NaN,NaN,PDS,LINET Thomas,20:00:00,08:00:00,20:00:00 - 08:00:00

In [26]:
concatenated_df.to_excel('data_prochainTDG.xlsx', index=False)

In [27]:
data=pd.read_excel('data_prochainTDG.xlsx')

In [28]:
data.head()

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
0,2023-07-13,NaN,NaN,NaN,Nuit,2023-07-13 18:00:00,2023-07-14 08:00:00,NaN,NaN,AO,A POURVOIR A pourvoir,18:00:00,08:00:00,18:00:00 - 08:00:00
1,2023-07-14,Associé,c.erhart@imadis.fr,Rennes,Journée,2023-07-14 10:00:00,2023-07-14 20:00:00,NaN,NaN,AO,ERHART Charlélie,10:00:00,20:00:00,10:00:00 - 20:00:00
2,2023-07-15,NaN,NaN,NaN,Journée,2023-07-15 08:00:00,2023-07-15 18:00:00,NaN,NaN,AO,A POURVOIR A pourvoir,08:00:00,18:00:00,08:00:00 - 18:00:00
3,2023-07-15,Associé,b.delorme@imadis.fr,St etienne,Nuit,2023-07-15 18:00:00,2023-07-16 08:00:00,NaN,NaN,AO,DELORME Bérengère,18:00:00,08:00:00,18:00:00 - 08:00:00
4,2023-07-16,NaN,NaN,NaN,Journée,2023-07-16 10:00:00,2023-07-16 20:00:00,NaN,NaN,AO,A POURVOIR A pourvoir,10:00:00,20:00:00,10:00:00 - 20:00:00

In [29]:
data['Nom_Prenom']=data['Nom_Prenom'].str.upper()

data['Associé']=data['Associé'].fillna('Remplaçant')
data['Date_Heure_Fin'] = pd.to_datetime(data['Date_Heure_Fin'])
data['Date_Heure_Début'] = pd.to_datetime(data['Date_Heure_Début'])

data['Durée'] = data['Date_Heure_Fin'] - data['Date_Heure_Début']
data=data.drop_duplicates(subset=['Nom_Prenom', 'Date', 'Horaire'], keep='last')
data['Durée']=data['Durée'].astype(str)
data['Durée']=data['Durée'].str.split().str[2]
#data['Durée'] = data['Durée'].str.replace("+ ", "")
data['Durée'] = data['Durée'].str.replace("+", "")
data['Durée'] = pd.to_timedelta(data['Durée'])

# Calculez la durée en heures décimales
data['Durée'] = data['Durée'].dt.total_seconds() / 3600
data.sample(5)

C:\Users\d.mandon\AppData\Local\Temp\ipykernel_22392\1408498353.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Durée'] = data['Durée'].str.replace("+", "")

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire,Durée
1686,2023-07-12,Thèsé,e.tommasino@imadis.fr,Lyon,Nuit,2023-07-12 18:00:00,2023-07-12 20:00:00,NaN,NaN,PDS,TOMMASINO EMANUELE,18:00:00,20:00:00,18:00:00 - 20:00:00,2.0
3584,2023-09-28,Associé,n.magand@imadis.fr,St etienne,Nuit,2023-09-28 20:00:00,2023-09-29 08:00:00,NaN,NaN,PDS,MAGAND NICOLAS,20:00:00,08:00:00,20:00:00 - 08:00:00,12.0
733,2023-09-22,Associé,f.bratan@imadis.fr,Lyon,Journée,2023-09-22 08:00:00,2023-09-22 13:00:00,NaN,NaN,CDS,BRATAN FLAVIE,08:00:00,13:00:00,08:00:00 - 13:00:00,5.0
667,2023-09-14,Interne,a.kanan@imadis.fr,Clermont-ferrand,Journée,2023-09-14 12:00:00,2023-09-14 18:00:00,NaN,NaN,CDS,KANAN ACHRAF,12:00:00,18:00:00,12:00:00 - 18:00:00,6.0
1689,2023-07-12,Associé,a.nguyen@imadis.fr,St etienne,Nuit,2023-07-12 18:00:00,2023-07-12 21:00:00,NaN,NaN,PDS,NGUYEN ANH QUOC,18:00:00,21:00:00,18:00:00 - 21:00:00,3.0

In [30]:
data.to_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/data_prochainTDG.xlsx', index=False)