In [1]:
import pandas as pd
import glob
import numpy as np
import re
import getpass

# Ajouter les nouvelles données du planning

In [2]:
# utilisateurs
username = getpass.getuser()

In [ ]:
df1=pd.read_excel('ao.xlsx', header=None)
df2=pd.read_excel('cds.xlsx', header=None)
df3=pd.read_excel('rru.xlsx', header=None)
df4=pd.read_excel('art.xlsx', header=None)
df5=pd.read_excel('pds.xlsx', header=None)

In [4]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       120 non-null    object
 1   1       394 non-null    object
 2   2       395 non-null    object
 3   3       395 non-null    object
 4   4       394 non-null    object
 5   5       394 non-null    object
 6   6       395 non-null    object
 7   7       395 non-null    object
 8   8       395 non-null    object
 9   9       0 non-null      float64
 10  10      40 non-null     object
dtypes: float64(1), object(10)
memory usage: 34.1+ KB

In [5]:
df2.head()

,0,1,2,3,4,5,6,7,8,9
0,09/01/2023,Interne,MUTIN,David,d.mutin@imadis.fr,Lyon,Journée,09/01/2023 08:00:00,09/01/2023 13:00:00,NaN
1,NaN,Associé,BOUQUET,Gregoire,g.bouquet@imadis.fr,Lyon,Journée,09/01/2023 08:00:00,09/01/2023 13:00:00,Chef de CDS
2,NaN,Associé,HISSIER,Julien,j.hissier@imadis.fr,Rennes,Journée,09/01/2023 08:00:00,09/01/2023 13:00:00,NaN
3,NaN,Associé,POULIN,Alexandre,a.poulin@imadis.fr,Rennes,Journée,09/01/2023 08:00:00,09/01/2023 13:00:00,NaN
4,NaN,Associé,KOUBAITY,Omar,o.koubaity@imadis.fr,Lyon,Journée,09/01/2023 09:00:00,09/01/2023 14:00:00,NaN

In [6]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin'}

df1 = df1.rename(columns=correspondance_colonnes)
df3 = df3.rename(columns=correspondance_colonnes)

In [7]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin',
                          9 : 'Chef'}

df2 = df2.rename(columns=correspondance_colonnes)

In [8]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin',
                          9 : 'Chef',
                          10 : 'Formation'}

df2 = df2.rename(columns=correspondance_colonnes)
df5 = df5.rename(columns=correspondance_colonnes)
df4 = df4.rename(columns=correspondance_colonnes)

In [9]:
df1['Chef'] = np.nan
df3['Chef'] = np.nan
df4['Chef'] = np.nan

df1['Formation'] = np.nan
df2['Formation'] = np.nan
df3['Formation'] = np.nan
df4['Formation'] = np.nan

In [10]:
df1['Source'] = 'AO'
df2['Source'] = 'CDS'
df3['Source'] = 'RRU'
df4['Source'] = 'ART'
df5['Source'] = 'PDS'

In [11]:
df1['Nom_Prenom'] = df1['Nom']+' '+df1['Prénom']
df2['Nom_Prenom'] = df2['Nom']+' '+df2['Prénom']
df3['Nom_Prenom'] = df3['Nom']+' '+df3['Prénom']
df4['Nom_Prenom'] = df4['Nom']+' '+df4['Prénom']
df5['Nom_Prenom'] = df5['Nom']+' '+df5['Prénom']

In [12]:
df1 = df1.dropna(subset=['Nom_Prenom'])
df2 = df2.dropna(subset=['Nom_Prenom'])
df3 = df3.dropna(subset=['Nom_Prenom'])
df4 = df4.dropna(subset=['Nom_Prenom'])
df5 = df5.dropna(subset=['Nom_Prenom'])

In [13]:
df4.head()

,Date,Associé,Nom,Prénom,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom
0,09/01/2023,Interne,BOUCHET,Marion,m.bouchet@imadis.fr,Lyon,Journée,09/01/2023 08:00:00,09/01/2023 13:00:00,NaN,NaN,ART,BOUCHET Marion
1,NaN,Interne,RAMIREZ,Laura,l.ramirez@imadis.fr,Lyon,Journée,09/01/2023 13:00:00,09/01/2023 19:00:00,NaN,NaN,ART,RAMIREZ Laura
2,NaN,Interne,MAYARD,Charles,c.mayard@imadis.fr,Lyon,Nuit,09/01/2023 19:00:00,10/01/2023 01:00:00,NaN,NaN,ART,MAYARD Charles
3,10/01/2023,Interne,RAMIREZ,Laura,l.ramirez@imadis.fr,Lyon,Journée,10/01/2023 08:00:00,10/01/2023 13:00:00,NaN,NaN,ART,RAMIREZ Laura
4,NaN,Interne,BOU HARB,Daniel,d.bou-harb@imadis.fr,Lyon,Journée,10/01/2023 13:00:00,10/01/2023 19:00:00,NaN,NaN,ART,BOU HARB Daniel

In [14]:
df1['Date'] = df1['Date'].fillna(method='ffill')
df2['Date'] = df2['Date'].fillna(method='ffill')
df3['Date'] = df3['Date'].fillna(method='ffill')
df4['Date'] = df4['Date'].fillna(method='ffill')
df5['Date'] = df5['Date'].fillna(method='ffill')

In [15]:
df1=df1.drop(['Nom', 'Prénom'], axis=1)
df2=df2.drop(['Nom', 'Prénom'], axis=1)
df3=df3.drop(['Nom', 'Prénom'], axis=1)
df4=df4.drop(['Nom', 'Prénom'], axis=1)
df5=df5.drop(['Nom', 'Prénom'], axis=1)

In [16]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d/%m/%Y')
df2['Date'] = pd.to_datetime(df2['Date'], format='%d/%m/%Y')
df3['Date'] = pd.to_datetime(df3['Date'], format='%d/%m/%Y')
df4['Date'] = pd.to_datetime(df4['Date'], format='%d/%m/%Y')
df5['Date'] = pd.to_datetime(df5['Date'], format='%d/%m/%Y')

In [17]:
df1['Date_Heure_Début'] = pd.to_datetime(df1['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Début'] = pd.to_datetime(df2['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Début'] = pd.to_datetime(df3['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Début'] = pd.to_datetime(df4['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Début'] = pd.to_datetime(df5['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")

In [18]:
df1['Date_Heure_Fin'] = pd.to_datetime(df1['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Fin'] = pd.to_datetime(df2['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Fin'] = pd.to_datetime(df3['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df4['Date_Heure_Fin'] = pd.to_datetime(df4['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Fin'] = pd.to_datetime(df5['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")

In [19]:
df1['Heure_Début'] = df1['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df2['Heure_Début'] = df2['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df3['Heure_Début'] = df3['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df4['Heure_Début'] = df4['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df5['Heure_Début'] = df5['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [20]:
df1['Heure_Fin'] = df1['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df2['Heure_Fin'] = df2['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df3['Heure_Fin'] = df3['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df4['Heure_Fin'] = df4['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df5['Heure_Fin'] = df5['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [21]:
df1['Horaire'] = df1['Heure_Début']+' - '+df1['Heure_Fin']
df2['Horaire'] = df2['Heure_Début']+' - '+df2['Heure_Fin']
df3['Horaire'] = df3['Heure_Début']+' - '+df3['Heure_Fin']
df4['Horaire'] = df4['Heure_Début']+' - '+df4['Heure_Fin']
df5['Horaire'] = df5['Heure_Début']+' - '+df5['Heure_Fin']

In [22]:
dfs = [df1, df2, df3, df4, df5]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

In [23]:
concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [29]:

concatenated_df.sample(10)

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
5877,01/05/2023,Associé,c.chevalier@imadis.fr,St etienne,Journée,2023-05-01 12:00:00,2023-05-01 20:00:00,NaN,NaN,PDS,CHEVALIER Clément,12:00:00,20:00:00,12:00:00 - 20:00:00
5628,22/04/2023,Interne,l.meinsohn@imadis.fr,Rennes,Nuit,2023-04-22 20:00:00,2023-04-23 08:00:00,NaN,NaN,PDS,MEINSOHN Ludwig,20:00:00,08:00:00,20:00:00 - 08:00:00
2930,24/01/2023,Associé,a.mayaud@imadis.fr,St etienne,Nuit,2023-01-24 20:00:00,2023-01-25 08:00:00,Chef de site,NaN,PDS,MAYAUD Alexandre,20:00:00,08:00:00,20:00:00 - 08:00:00
1352,24/01/2023,Associé,r.peyre@imadis.fr,Marseille,Nuit,2023-01-24 13:00:00,2023-01-24 15:00:00,NaN,NaN,RRU,PEYRE Rémi,13:00:00,15:00:00,13:00:00 - 15:00:00
57,22/04/2023,Associé,e.stephant@imadis.fr,Bordeaux,Nuit,2023-04-22 18:00:00,2023-04-23 08:00:00,NaN,NaN,AO,STEPHANT Eric,18:00:00,08:00:00,18:00:00 - 08:00:00
3758,20/02/2023,Associé,l.malaureille@imadis.fr,Lyon,Nuit,2023-02-20 20:00:00,2023-02-21 08:00:00,NaN,NaN,PDS,MALAUREILLE Lison,20:00:00,08:00:00,20:00:00 - 08:00:00
196,20/01/2023,Interne,e.beaufreton@imadis.fr,Rennes,Journée,2023-01-20 17:00:00,2023-01-20 18:00:00,NaN,NaN,CDS,BEAUFRETON Edouard,17:00:00,18:00:00,17:00:00 - 18:00:00
2360,16/04/2023,Interne,p.roy@imadis.fr,Lyon,Journée,2023-04-16 13:00:00,2023-04-16 19:00:00,NaN,NaN,ART,ROY Philippine,13:00:00,19:00:00,13:00:00 - 19:00:00
2212,03/03/2023,Interne,m.roux@imadis.fr,Lyon,Journée,2023-03-03 13:00:00,2023-03-03 19:00:00,NaN,NaN,ART,ROUX Maxime,13:00:00,19:00:00,13:00:00 - 19:00:00
2679,16/01/2023,Interne,b.marchi@imadis.fr,Marseille,Nuit,2023-01-16 20:00:00,2023-01-17 08:00:00,NaN,NaN,PDS,MARCHI Baptiste,20:00:00,08:00:00,20:00:00 - 08:00:00

In [30]:
concatenated_df.to_csv('data 01-05_2023.csv', index=False)

In [31]:
import pandas as pd
import glob
import numpy as np
import re

In [5]:
df1=pd.read_csv('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/Concat_df.csv')
df2=pd.read_csv('data 01-05_2023.csv')

In [18]:
df1.sample(5)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation
9220,PDS,ASFARI Stéphane,08/03/2023,18:00:00,20:00:00,18:00:00 - 20:00:00,2023-03-08 18:00:00,2023-03-08 20:00:00,Associé,s.asfari@imadis.fr,Lyon,Journée,NaN,NaN
7691,PDS,ROBERT Corentin,01/09/2022,18:00:00,20:00:00,18:00:00 - 20:00:00,2022-09-01 18:00:00,2022-09-01 20:00:00,Associé,c.robert@imadis.fr,Rennes,Nuit,NaN,NaN
201,CDS,Tavano Alice,04/02/2020,13:00:00,18:00:00,13:00:00 - 18:00:00,2020-02-04 13:00:00,2020-02-04 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6419,PDS,PERRIER Louis,07/02/2022,18:00:00,20:00:00,18:00:00 - 20:00:00,2022-02-07 18:00:00,2022-02-07 20:00:00,Associé,l.perrier@imadis.fr,Lyon,Journée,NaN,NaN
3780,ART,PESIN Nathan,07/01/2023,08:00:00,13:00:00,08:00:00 - 13:00:00,2023-01-07 08:00:00,2023-01-07 13:00:00,Interne,n.pesin@imadis.fr,Bordeaux,Journée,Nan,Nan

In [9]:
df1 = df1[~((df1['Date'] >= '09/01/2023') & (df1['Date'] <= '08/05/2023'))]

In [19]:
dfs = [df1, df2]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
data = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
data.reset_index(drop=True, inplace=True)

In [20]:
data=data.drop_duplicates()

In [21]:
data.sample(3)

,Source,Nom_Prenom,Date,Heure_Début,Heure_Fin,Horaire,Date_Heure_Début,Date_Heure_Fin,Associé,mail,Site,Jour/Nuit,Chef,Formation
7525,PDS,MAES Jean-david,02/08/2022,20:00:00,08:00:00,20:00:00 - 08:00:00,2022-08-02 20:00:00,2022-08-03 08:00:00,Interne,jd.maes@imadis.fr,Bordeaux,Nuit,NaN,NaN
4892,CDS,THIERY Louis,06/03/2023,13:00:00,18:00:00,13:00:00 - 18:00:00,2023-03-06 13:00:00,2023-03-06 18:00:00,Interne,l.thiery@imadis.fr,Marseille,Nuit,NaN,NaN
5126,CDS,GALLISSOT Felix,03/07/2023,10:00:00,18:00:00,10:00:00 - 18:00:00,2023-07-03 10:00:00,2023-07-03 18:00:00,Interne,f.gallissot@imadis.fr,Dijon,Journée,NaN,NaN

In [53]:
data.to_csv('Concat_df.csv', index=False)