In [1]:
import pandas as pd
import glob
import numpy as np
import re
import getpass

# Ajouter les nouvelles données du planning

In [2]:
# utilisateurs
username = getpass.getuser()

In [3]:
df1=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (AO).xlsx', header=None)
df2=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (CDS).xlsx', header=None)
df3=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (RRU).xlsx', header=None)
#df4=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (ART).xlsx', header=None)
df5=pd.read_excel('C:/Users/'+username+'/Imadis Téléradiologie/INTRANET - IMADIS/QUALITE/7- RHM/15 - DMA/GitHub/data/export (PDS).xlsx', header=None)

In [4]:
'''
df1=pd.read_excel('ao.xlsx', header=None)
df2=pd.read_excel('cds.xlsx', header=None)
df3=pd.read_excel('rru.xlsx', header=None)
df4=pd.read_excel('art.xlsx', header=None)
df5=pd.read_excel('pds.xlsx', header=None)
'''

"\ndf1=pd.read_excel('ao.xlsx', header=None)\ndf2=pd.read_excel('cds.xlsx', header=None)\ndf3=pd.read_excel('rru.xlsx', header=None)\ndf4=pd.read_excel('art.xlsx', header=None)\ndf5=pd.read_excel('pds.xlsx', header=None)\n"

In [5]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       82 non-null     object
 1   1       495 non-null    object
 2   2       495 non-null    object
 3   3       495 non-null    object
 4   4       495 non-null    object
 5   5       495 non-null    object
 6   6       495 non-null    object
 7   7       495 non-null    object
 8   8       495 non-null    object
dtypes: object(9)
memory usage: 37.4+ KB

In [6]:
df1.head()

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13/07/2023,NaN,A POURVOIR,A pourvoir,NaN,NaN,Nuit,13/07/2023 18:00:00,14/07/2023 08:00:00
4,14/07/2023,Associé,ERHART,Charlélie,c.erhart@imadis.fr,Rennes,Journée,14/07/2023 10:00:00,14/07/2023 20:00:00

In [7]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin'}

df1 = df1.rename(columns=correspondance_colonnes)
df3 = df3.rename(columns=correspondance_colonnes)

In [8]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin',
                          9 : 'Chef'}

df2 = df2.rename(columns=correspondance_colonnes)

In [9]:
correspondance_colonnes = {0 : 'Date',
                          1: 'Associé',
                          2: 'Nom',
                          3 : 'Prénom',
                          4 : 'mail',
                          5 : 'Site',
                          6 : 'Jour/Nuit',
                          7: 'Date_Heure_Début',
                          8 : 'Date_Heure_Fin',
                          9 : 'Chef',
                          10 : 'Formation'}

df2 = df2.rename(columns=correspondance_colonnes)
df5 = df5.rename(columns=correspondance_colonnes)
#df4 = df4.rename(columns=correspondance_colonnes)

In [10]:
df1['Chef'] = np.nan
df3['Chef'] = np.nan
#df4['Chef'] = np.nan

df1['Formation'] = np.nan
df2['Formation'] = np.nan
df3['Formation'] = np.nan
#df4['Formation'] = np.nan

In [11]:
df1['Source'] = 'AO'
df2['Source'] = 'CDS'
df3['Source'] = 'RRU'
#df4['Source'] = 'ART'
df5['Source'] = 'PDS'

In [12]:
df1['Nom_Prenom'] = df1['Nom']+' '+df1['Prénom']
df2['Nom_Prenom'] = df2['Nom']+' '+df2['Prénom']
df3['Nom_Prenom'] = df3['Nom']+' '+df3['Prénom']
#df4['Nom_Prenom'] = df4['Nom']+' '+df4['Prénom']
df5['Nom_Prenom'] = df5['Nom']+' '+df5['Prénom']

In [13]:
df1 = df1.dropna(subset=['Nom_Prenom'])
df2 = df2.dropna(subset=['Nom_Prenom'])
df3 = df3.dropna(subset=['Nom_Prenom'])
#df4 = df4.dropna(subset=['Nom_Prenom'])
df5 = df5.dropna(subset=['Nom_Prenom'])

In [14]:
df2.head()

,Date,Associé,Nom,Prénom,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom
0,10/07/2023,Interne,KANAN,Achraf,a.kanan@imadis.fr,Clermont-ferrand,Journée,10/07/2023 08:00:00,10/07/2023 13:00:00,NaN,NaN,CDS,KANAN Achraf
1,NaN,Thèsé,ROCHE,Stanislas,s.roche@imadis.fr,Dijon,Journée,10/07/2023 08:00:00,10/07/2023 13:00:00,NaN,NaN,CDS,ROCHE Stanislas
2,NaN,Associé,HISSIER,Julien,j.hissier@imadis.fr,Rennes,Journée,10/07/2023 08:00:00,10/07/2023 13:00:00,NaN,NaN,CDS,HISSIER Julien
3,NaN,Associé,GHELIS,Nil,n.ghelis@imadis.fr,Clermont-ferrand,Journée,10/07/2023 09:00:00,10/07/2023 14:00:00,NaN,NaN,CDS,GHELIS Nil
4,NaN,Associé,JURKOVIC,Thomas,t.jurkovic@imadis.fr,Lyon,Journée,10/07/2023 10:00:00,10/07/2023 18:00:00,Chef de CDS,NaN,CDS,JURKOVIC Thomas

In [15]:
df1['Date'] = df1['Date'].fillna(method='ffill')
df2['Date'] = df2['Date'].fillna(method='ffill')
df3['Date'] = df3['Date'].fillna(method='ffill')
#df4['Date'] = df4['Date'].fillna(method='ffill')
df5['Date'] = df5['Date'].fillna(method='ffill')

In [16]:
df1=df1.drop(['Nom', 'Prénom'], axis=1)
df2=df2.drop(['Nom', 'Prénom'], axis=1)
df3=df3.drop(['Nom', 'Prénom'], axis=1)
#df4=df4.drop(['Nom', 'Prénom'], axis=1)
df5=df5.drop(['Nom', 'Prénom'], axis=1)

In [17]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d/%m/%Y')
df1['Date'] = df1['Date'].dt.strftime('%Y-%m-%d')
df2['Date'] = pd.to_datetime(df2['Date'], format='%d/%m/%Y')
df2['Date'] = df2['Date'].dt.strftime('%Y-%m-%d')
df3['Date'] = pd.to_datetime(df3['Date'], format='%d/%m/%Y')
df3['Date'] = df3['Date'].dt.strftime('%Y-%m-%d')
#df4['Date'] = pd.to_datetime(df4['Date'], format='%d/%m/%Y')
#df4['Date'] = df4['Date'].dt.strftime('%Y-%m-%d')
df5['Date'] = pd.to_datetime(df5['Date'], format='%d/%m/%Y')
df5['Date'] = df5['Date'].dt.strftime('%Y-%m-%d')

In [18]:
df1['Date_Heure_Début'] = pd.to_datetime(df1['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Début'] = pd.to_datetime(df2['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Début'] = pd.to_datetime(df3['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
#df4['Date_Heure_Début'] = pd.to_datetime(df4['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Début'] = pd.to_datetime(df5['Date_Heure_Début'],format="%d/%m/%Y %H:%M:%S")

In [19]:
df1['Date_Heure_Fin'] = pd.to_datetime(df1['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df2['Date_Heure_Fin'] = pd.to_datetime(df2['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df3['Date_Heure_Fin'] = pd.to_datetime(df3['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
#df4['Date_Heure_Fin'] = pd.to_datetime(df4['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")
df5['Date_Heure_Fin'] = pd.to_datetime(df5['Date_Heure_Fin'],format="%d/%m/%Y %H:%M:%S")

In [20]:
df1['Heure_Début'] = df1['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df2['Heure_Début'] = df2['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df3['Heure_Début'] = df3['Date_Heure_Début'].dt.strftime('%H:%M:%S')
#df4['Heure_Début'] = df4['Date_Heure_Début'].dt.strftime('%H:%M:%S')
df5['Heure_Début'] = df5['Date_Heure_Début'].dt.strftime('%H:%M:%S')

In [21]:
df1['Heure_Fin'] = df1['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df2['Heure_Fin'] = df2['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df3['Heure_Fin'] = df3['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
#df4['Heure_Fin'] = df4['Date_Heure_Fin'].dt.strftime('%H:%M:%S')
df5['Heure_Fin'] = df5['Date_Heure_Fin'].dt.strftime('%H:%M:%S')

In [22]:
df1['Horaire'] = df1['Heure_Début']+' - '+df1['Heure_Fin']
df2['Horaire'] = df2['Heure_Début']+' - '+df2['Heure_Fin']
df3['Horaire'] = df3['Heure_Début']+' - '+df3['Heure_Fin']
#df4['Horaire'] = df4['Heure_Début']+' - '+df4['Heure_Fin']
df5['Horaire'] = df5['Heure_Début']+' - '+df5['Heure_Fin']

In [23]:
dfs = [df1, df2, df3,df5]

# Concaténez les DataFrames de la liste en utilisant la fonction concat()
concatenated_df = pd.concat(dfs)

# Réinitialisez l'index du DataFrame concaténé
concatenated_df.reset_index(drop=True, inplace=True)

In [24]:
#concatenated_df['Date'] = concatenated_df['Date'].dt.strftime("%d/%m/%Y")

In [25]:

concatenated_df.sample(10)

,Date,Associé,mail,Site,Jour/Nuit,Date_Heure_Début,Date_Heure_Fin,Chef,Formation,Source,Nom_Prenom,Heure_Début,Heure_Fin,Horaire
2341,2023-08-25,Interne,m.boumaiza@imadis.fr,St etienne,Nuit,2023-08-25 20:00:00,2023-08-26 08:00:00,NaN,NaN,PDS,BOUMAIZA Myriam,20:00:00,08:00:00,20:00:00 - 08:00:00
1263,2023-10-12,Associé,j.touati@imadis.fr,Marseille,Journée,2023-10-12 11:00:00,2023-10-12 13:00:00,NaN,NaN,RRU,TOUATI Julian,11:00:00,13:00:00,11:00:00 - 13:00:00
1590,2023-07-18,Thèsé,aa.el-ahmadi@imadis.fr,Marseille,Nuit,2023-07-18 20:00:00,2023-07-19 08:00:00,NaN,NaN,PDS,EL AHMADI Ahmed-ali,20:00:00,08:00:00,20:00:00 - 08:00:00
1747,2023-07-26,Associé,a.albat@imadis.fr,Bordeaux,Nuit,2023-07-26 20:00:00,2023-07-27 08:00:00,NaN,NaN,PDS,ALBAT Agnès,20:00:00,08:00:00,20:00:00 - 08:00:00
2173,2023-08-16,Associé,a.chazot@imadis.fr,Lyon,Nuit,2023-08-16 20:00:00,2023-08-17 08:00:00,NaN,NaN,PDS,CHAZOT Alban,20:00:00,08:00:00,20:00:00 - 08:00:00
3376,2023-10-18,Associé,t.annweiler@imadis.fr,St etienne,Nuit,2023-10-18 20:00:00,2023-10-19 02:00:00,NaN,NaN,PDS,ANNWEILER Thierry,20:00:00,02:00:00,20:00:00 - 02:00:00
1471,2023-07-14,Interne,h.hans@imadis.fr,Bordeaux,Journée,2023-07-14 09:00:00,2023-07-14 20:00:00,NaN,NaN,PDS,HANS Hugo,09:00:00,20:00:00,09:00:00 - 20:00:00
388,2023-08-30,Associé,e.souverain@imadis.fr,Lyon,Journée,2023-08-30 08:00:00,2023-08-30 13:00:00,NaN,NaN,CDS,SOUVERAIN Elodie,08:00:00,13:00:00,08:00:00 - 13:00:00
2347,2023-08-26,Associé,b.delorme@imadis.fr,St etienne,Journée,2023-08-26 08:00:00,2023-08-26 20:00:00,NaN,NaN,PDS,DELORME Bérengère,08:00:00,20:00:00,08:00:00 - 20:00:00
3364,2023-10-17,Associé,b.porta@imadis.fr,Lyon,Nuit,2023-10-17 20:00:00,2023-10-18 08:00:00,NaN,NaN,PDS,PORTA Basile,20:00:00,08:00:00,20:00:00 - 08:00:00

In [26]:
concatenated_df.to_excel('data_prochainTDG.xlsx', index=False)